In [1]:
#data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [5]:
#Loading file excel
df4 = pd.read_excel('LDAwords.xlsx')

In [6]:
df4

     topicId     word  weight
0          0     food   18681
1          0  service   16512
2          0     good   12443
3          0    great   11976
4          0    staff    9770
..       ...      ...     ...
115        3   minute    1858
116        3     told    1837
117        3    drink    1826
118        3   better    1823
119        3    price    1823

[120 rows x 3 columns]

In [13]:
unique_topic_ids = df4['topicId'].unique()

for topic_id in unique_topic_ids:
    words = df4.loc[df4['topicId'] == topic_id, 'word'].tolist()
    print(f"Topic {topic_id}: {words}")
    print("-------------------------------------------------------------------------------------------------------------------------------")

Topic 0: ['food', 'service', 'good', 'great', 'staff', 'friendly', 'nice', 'excellent', 'dinner', 'experience', 'come', 'definitely', 'amazing', 'chef', 'best', 'delicious', 'time', 'place', 'restaurant', 'birthday', 'attentive', 'thank', 'love', 'recommend', 'family', 'thanks', 'friend', 'especially', 'dining', 'visit']
-------------------------------------------------------------------------------------------------------------------------------
Topic 1: ['food', 'good', 'place', 'great', 'restaurant', 'nice', 'service', 'staff', 'friendly', 'price', 'drink', 'time', 'menu', 'delicious', 'best', 'visit', 'local', 'recommend', 'excellent', 'try', 'dish', 'meal', 'atmosphere', 'tasty', 'cafe', 'night', 'reasonable', 'worth', 'lunch', 'dinner']
-------------------------------------------------------------------------------------------------------------------------------
Topic 2: ['chicken', 'good', 'dish', 'rice', 'ordered', 'fish', 'taste', 'fried', 'food', 'try', 'soup', 'restaurant', 'pork', 'sauce', 'like', 'prawn', 'curry', 'delicious', 'noodle', 'beef', 'fresh', 'meat', 'place', 'best', 'tasty', 'egg', 'price', 'lunch', 'nice', 'order']
-------------------------------------------------------------------------------------------------------------------------------
Topic 3: ['food', 'table', 'restaurant', 'time', 'order', 'service', 'staff', 'came', 'like', 'menu', 'waiter', 'dish', 'place', 'dont', 'experience', 'ordered', 'didnt', 'customer', 'asked', 'served', 'meal', 'went', 'good', 'wait', 'review', 'minute', 'told', 'drink', 'better', 'price']
-------------------------------------------------------------------------------------------------------------------------------

# Conclusion

Topic 0: Service
Because there's mentioned about service, staff, friendly

Topic 1: Price /  Value
Because after topic 0, and 2, there's mentioned price right after, reasonable, worth

Topic 2: Food
Because we can see that list of foods


Topic 3: Ambiance
Because a lot of mentioned about surrounding about the restaurant like what the restaurant have like table, restaurant, came, like, place, experience. Attribute that don't exist at other topics, like not a descriptive

In [15]:
#replace values
topic_names = {0: "Service", 1: "Price", 2: "Food", 3: "Ambiance"}

df4['topicId'] = df4['topicId'].replace(topic_names)

In [16]:
df4

      topicId     word  weight
0     Service     food   18681
1     Service  service   16512
2     Service     good   12443
3     Service    great   11976
4     Service    staff    9770
..        ...      ...     ...
115  Ambiance   minute    1858
116  Ambiance     told    1837
117  Ambiance    drink    1826
118  Ambiance   better    1823
119  Ambiance    price    1823

[120 rows x 3 columns]

#Save updated dataframe to Excel
df4.to_excel('PartFour_Word.xlsx', index=False, header=True)

# Whole dataframe

In [17]:
#Loading file excel
df5 = pd.read_excel('TopicModelling.xlsx')

In [18]:
df5

,Author,Title,Review,Dates,Restaurant,Location,Clean_Review,Sentiment_Scores,Sentiment,Rating,Day,Month,Year,Compound_Score,confidence(Topic_0),confidence(Topic_1),confidence(Topic_2),confidence(Topic_3),documentid,prediction(Topic)
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,2022-02-27,Cuisines Restaurant,Ipoh,dinner cuisine restaurant good dish cooked whi...,"{'neg': 0.047, 'neu': 0.595, 'pos': 0.358, 'co...",Positive,5,27,2,2022,0.9831,0.087574,0.322384,0.563193,0.026848,0,Topic_2
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",2022-02-27,Cuisines Restaurant,Ipoh,like environment stay block c n clean n huge l...,"{'neg': 0.053, 'neu': 0.423, 'pos': 0.524, 'co...",Positive,5,27,2,2022,0.9738,0.538235,0.440304,0.010598,0.010863,1,Topic_0
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,2022-02-25,Cuisines Restaurant,Ipoh,great candlelight course meal place best meal ...,"{'neg': 0.0, 'neu': 0.43, 'pos': 0.57, 'compou...",Positive,4,25,2,2022,0.9862,0.908011,0.051504,0.019039,0.021446,2,Topic_0
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2022-02-19,Cuisines Restaurant,Ipoh,totally disappointed buffet spread limited ter...,"{'neg': 0.269, 'neu': 0.641, 'pos': 0.09, 'com...",Negative,2,19,2,2022,-0.6801,0.036315,0.041576,0.015407,0.906702,3,Topic_3
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,2022-02-15,Cuisines Restaurant,Ipoh,wonderful experience course love menu nice tas...,"{'neg': 0.0, 'neu': 0.363, 'pos': 0.637, 'comp...",Positive,5,15,2,2022,0.9922,0.675755,0.262393,0.014766,0.047086,4,Topic_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,2019-08-08,Doi Chaang Caffe,Shah Alam,taipan neighbourhood timechance quiet cafe gre...,"{'neg': 0.0, 'neu': 0.35, 'pos': 0.65, 'compou...",Positive,4,8,8,2019,0.9186,0.036293,0.920595,0.023682,0.019429,82341,Topic_1
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,2019-07-19,Doi Chaang Caffe,Shah Alam,like coffee cold dog chang good premium taste ...,"{'neg': 0.0, 'neu': 0.494, 'pos': 0.506, 'comp...",Positive,5,19,7,2019,0.8020,0.064628,0.666418,0.224941,0.044014,82342,Topic_1
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,2019-01-07,Doi Chaang Caffe,Shah Alam,absolutely try doi chang coffee unique flavour...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",Neutral,5,7,1,2019,0.0000,0.046844,0.157361,0.768702,0.027093,82343,Topic_2
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",2018-06-20,Doi Chaang Caffe,Shah Alam,pleasant friendly barista awesome environment ...,"{'neg': 0.0, 'neu': 0.41, 'pos': 0.59, 'compou...",Positive,4,20,6,2018,0.9413,0.070429,0.543561,0.359314,0.026695,82344,Topic_1
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,2019-05-05,ah muk Noodle,Shah Alam,located opposite samy min bah kut teh subang o...,"{'neg': 0.014, 'neu': 0.858, 'pos': 0.128, 'co...",Positive,4,5,5,2019,0.9590,0.003526,0.008459,0.885085,0.102930,82345,Topic_2

In [19]:
topic_names = {'Topic_0': 'Service', 'Topic_1': 'Price', 'Topic_2': 'Food', 'Topic_3': 'Ambiance'}

df5['prediction(Topic)'] = df5['prediction(Topic)'].replace(topic_names)

In [20]:
df5

,Author,Title,Review,Dates,Restaurant,Location,Clean_Review,Sentiment_Scores,Sentiment,Rating,Day,Month,Year,Compound_Score,confidence(Topic_0),confidence(Topic_1),confidence(Topic_2),confidence(Topic_3),documentid,prediction(Topic)
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,2022-02-27,Cuisines Restaurant,Ipoh,dinner cuisine restaurant good dish cooked whi...,"{'neg': 0.047, 'neu': 0.595, 'pos': 0.358, 'co...",Positive,5,27,2,2022,0.9831,0.087574,0.322384,0.563193,0.026848,0,Food
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",2022-02-27,Cuisines Restaurant,Ipoh,like environment stay block c n clean n huge l...,"{'neg': 0.053, 'neu': 0.423, 'pos': 0.524, 'co...",Positive,5,27,2,2022,0.9738,0.538235,0.440304,0.010598,0.010863,1,Service
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,2022-02-25,Cuisines Restaurant,Ipoh,great candlelight course meal place best meal ...,"{'neg': 0.0, 'neu': 0.43, 'pos': 0.57, 'compou...",Positive,4,25,2,2022,0.9862,0.908011,0.051504,0.019039,0.021446,2,Service
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2022-02-19,Cuisines Restaurant,Ipoh,totally disappointed buffet spread limited ter...,"{'neg': 0.269, 'neu': 0.641, 'pos': 0.09, 'com...",Negative,2,19,2,2022,-0.6801,0.036315,0.041576,0.015407,0.906702,3,Ambiance
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,2022-02-15,Cuisines Restaurant,Ipoh,wonderful experience course love menu nice tas...,"{'neg': 0.0, 'neu': 0.363, 'pos': 0.637, 'comp...",Positive,5,15,2,2022,0.9922,0.675755,0.262393,0.014766,0.047086,4,Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,2019-08-08,Doi Chaang Caffe,Shah Alam,taipan neighbourhood timechance quiet cafe gre...,"{'neg': 0.0, 'neu': 0.35, 'pos': 0.65, 'compou...",Positive,4,8,8,2019,0.9186,0.036293,0.920595,0.023682,0.019429,82341,Price
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,2019-07-19,Doi Chaang Caffe,Shah Alam,like coffee cold dog chang good premium taste ...,"{'neg': 0.0, 'neu': 0.494, 'pos': 0.506, 'comp...",Positive,5,19,7,2019,0.8020,0.064628,0.666418,0.224941,0.044014,82342,Price
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,2019-01-07,Doi Chaang Caffe,Shah Alam,absolutely try doi chang coffee unique flavour...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",Neutral,5,7,1,2019,0.0000,0.046844,0.157361,0.768702,0.027093,82343,Food
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",2018-06-20,Doi Chaang Caffe,Shah Alam,pleasant friendly barista awesome environment ...,"{'neg': 0.0, 'neu': 0.41, 'pos': 0.59, 'compou...",Positive,4,20,6,2018,0.9413,0.070429,0.543561,0.359314,0.026695,82344,Price
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,2019-05-05,ah muk Noodle,Shah Alam,located opposite samy min bah kut teh subang o...,"{'neg': 0.014, 'neu': 0.858, 'pos': 0.128, 'co...",Positive,4,5,5,2019,0.9590,0.003526,0.008459,0.885085,0.102930,82345,Food

In [22]:
#Save updated dataframe to Excel
df5.to_excel('PartFour_Topic.xlsx', index=False, header=True)