# Python Libraries

In [1]:
#data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
#text pre processing and cleaning
import neattext.functions as nfx

#### Loading customer reviews for various cities in Malaysia into separate data frames using Pandas read_csv function

In [2]:
#To get the csv files
reviewsIpoh_df = pd.read_csv('reviews_all_Ipoh.csv',  encoding = "UTF8")
reviewsJB_df = pd.read_csv('reviews_all_JB.csv',  encoding = "UTF8")
reviewsKL_df = pd.read_csv('reviews_all_KL.csv',  encoding = "UTF8")
reviewsKuching_df = pd.read_csv('reviews_all_Kuching.csv',  encoding = "UTF8")
reviewsLangkawi_df = pd.read_csv('reviews_all_Langkawi.csv',  encoding = "UTF8")
reviewsMelaka_df = pd.read_csv('reviews_all_Melaka.csv',  encoding = "UTF8")
reviewsMiri_df = pd.read_csv('reviews_all_Miri.csv',  encoding = "UTF8")
reviewsPenang_df = pd.read_csv('reviews_all_Penang.csv',  encoding = "UTF8")
reviewsPetalingJaya_df = pd.read_csv('reviews_all_PetalingJaya.csv',  encoding = "UTF8")
reviewsShahAlam_df = pd.read_csv('reviews_all_ShahAlam.csv',  encoding = "UTF8")

#### Displaying the first few rows of the customer reviews data frame for various cities in Malaysia using the head() function

In [3]:
#display first 5 rows from TripAdvisor restaurants in Ipoh.
reviewsIpoh_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5,Reviewed 3 weeks ago,Cuisines Restaurant
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5,Reviewed 27 February 2022,Cuisines Restaurant
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4,Reviewed 25 February 2022,Cuisines Restaurant
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2,Reviewed 19 February 2022,Cuisines Restaurant
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5,Reviewed 15 February 2022,Cuisines Restaurant

In [4]:
#Add 'Location' column to distinguish the dataframes for different cities and states
reviewsIpoh_df['Location'] = 'Ipoh'
reviewsIpoh_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5,Reviewed 3 weeks ago,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4,Reviewed 25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2,Reviewed 19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5,Reviewed 15 February 2022,Cuisines Restaurant,Ipoh

In [5]:
reviewsJB_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,p92093,"New York Style in Johor, Malaysia","Quality Pizza in New York Style, to my surpris...",5.0,Reviewed 1 week ago,Giovanni's Ny Style Restaurant
1,kitc883,Best Pizza in town,"The best Pizza & spaghetti i ever had in jb , ...",5.0,Reviewed 1 week ago,Giovanni's Ny Style Restaurant
2,Donnie M,Best Pizza in Malaysia,I have been raised on authentic NY pizza and t...,5.0,Reviewed 1 week ago,Giovanni's Ny Style Restaurant
3,edwardyH1128YJ,Great Restaurant for small groups and families.,"Ate here with one other person, food was great...",5.0,Reviewed 2 weeks ago,Giovanni's Ny Style Restaurant
4,nrnfrhh,Best NY pizza in JB!!!,Hands down to John for not giving up in his qu...,5.0,Reviewed 20 November 2021,Giovanni's Ny Style Restaurant

In [6]:
reviewsJB_df['Location'] = 'Johor Bahru'
reviewsJB_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,p92093,"New York Style in Johor, Malaysia","Quality Pizza in New York Style, to my surpris...",5.0,Reviewed 1 week ago,Giovanni's Ny Style Restaurant,Johor Bahru
1,kitc883,Best Pizza in town,"The best Pizza & spaghetti i ever had in jb , ...",5.0,Reviewed 1 week ago,Giovanni's Ny Style Restaurant,Johor Bahru
2,Donnie M,Best Pizza in Malaysia,I have been raised on authentic NY pizza and t...,5.0,Reviewed 1 week ago,Giovanni's Ny Style Restaurant,Johor Bahru
3,edwardyH1128YJ,Great Restaurant for small groups and families.,"Ate here with one other person, food was great...",5.0,Reviewed 2 weeks ago,Giovanni's Ny Style Restaurant,Johor Bahru
4,nrnfrhh,Best NY pizza in JB!!!,Hands down to John for not giving up in his qu...,5.0,Reviewed 20 November 2021,Giovanni's Ny Style Restaurant,Johor Bahru

In [7]:
reviewsKL_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,kmc1e2018,Chambers Bar and Grill,"David, Thanga, Mikail and Chef Steven gave bri...",5.0,Reviewed yesterday,Chambers Grill
1,"MizOthmanKuala Lumpur, Malaysia",Always a pleasure. Place to celebrate.,We visited for family celebration and as usual...,5.0,Reviewed 5 days ago,Chambers Grill
2,"Relax36268533224Hjarno, Denmark",Enjoying good service and good food after a lo...,Perfect dinner after a long journey.After trav...,5.0,Reviewed 1 week ago,Chambers Grill
3,tstrry,Great Steak for Couples,Had a great Tomahawk for me and hubby thanks t...,5.0,Reviewed 1 week ago,Chambers Grill
4,Naim_123456789,Dining,"Excellent ambient. Excellent service by David,...",5.0,Reviewed 1 week ago,Chambers Grill

In [8]:
reviewsKL_df['Location'] = 'Kuala Lumpur'
reviewsKL_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,kmc1e2018,Chambers Bar and Grill,"David, Thanga, Mikail and Chef Steven gave bri...",5.0,Reviewed yesterday,Chambers Grill,Kuala Lumpur
1,"MizOthmanKuala Lumpur, Malaysia",Always a pleasure. Place to celebrate.,We visited for family celebration and as usual...,5.0,Reviewed 5 days ago,Chambers Grill,Kuala Lumpur
2,"Relax36268533224Hjarno, Denmark",Enjoying good service and good food after a lo...,Perfect dinner after a long journey.After trav...,5.0,Reviewed 1 week ago,Chambers Grill,Kuala Lumpur
3,tstrry,Great Steak for Couples,Had a great Tomahawk for me and hubby thanks t...,5.0,Reviewed 1 week ago,Chambers Grill,Kuala Lumpur
4,Naim_123456789,Dining,"Excellent ambient. Excellent service by David,...",5.0,Reviewed 1 week ago,Chambers Grill,Kuala Lumpur

In [9]:
reviewsKuching_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,"Sharmini_VioletLangkawi, Malaysia",I'm a happy foodie brought back in time at The...,We reached The Bikalan located at the little S...,5.0,Reviewed yesterday,The Bikalan
1,"GoPlaces20758429304Chennai (Madras), India","The most memorable meal in Sarawak by far, at ...",We arrived at the Bikalan as guests on a stron...,5.0,Reviewed 3 weeks ago,The Bikalan
2,"ShrutiN79Langkawi, Malaysia","The Bikalan, Siniawan.A must when in Kuching",Andy and Grace are the ultimate hosts at The B...,5.0,Reviewed 3 weeks ago,The Bikalan
3,Maywal19,Excellent hosts and excellent food,I came here yesterday evening for the first ti...,5.0,Reviewed 20 February 2022,The Bikalan
4,"ShaunNolan45Kuching, Malaysia",Riverside Rest,I dropped into The Bikalan recently and tried ...,5.0,Reviewed 30 January 2022,The Bikalan

In [10]:
reviewsKuching_df['Location'] = 'Kuching'
reviewsKuching_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"Sharmini_VioletLangkawi, Malaysia",I'm a happy foodie brought back in time at The...,We reached The Bikalan located at the little S...,5.0,Reviewed yesterday,The Bikalan,Kuching
1,"GoPlaces20758429304Chennai (Madras), India","The most memorable meal in Sarawak by far, at ...",We arrived at the Bikalan as guests on a stron...,5.0,Reviewed 3 weeks ago,The Bikalan,Kuching
2,"ShrutiN79Langkawi, Malaysia","The Bikalan, Siniawan.A must when in Kuching",Andy and Grace are the ultimate hosts at The B...,5.0,Reviewed 3 weeks ago,The Bikalan,Kuching
3,Maywal19,Excellent hosts and excellent food,I came here yesterday evening for the first ti...,5.0,Reviewed 20 February 2022,The Bikalan,Kuching
4,"ShaunNolan45Kuching, Malaysia",Riverside Rest,I dropped into The Bikalan recently and tried ...,5.0,Reviewed 30 January 2022,The Bikalan,Kuching

In [11]:
reviewsLangkawi_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,TAndrewK,Great food- lovely host,We stopped here for lunch and we're really gla...,5,Reviewed 3 February 2022,Alhamdulillah Restaurant
1,Ahmed S,A gem of a restaurant,"Without a doubt, this is the best Arabic resta...",5,Reviewed 30 January 2022,Alhamdulillah Restaurant
2,Saft1987,Australia,"Very delicious food, clean restaurant great se...",5,Reviewed 23 January 2022,Alhamdulillah Restaurant
3,"Paradise44960454978Johor Bahru, Malaysia",Quick and nice lunch in Langkawi,After being in splash out with our kids we loo...,5,Reviewed 4 January 2022,Alhamdulillah Restaurant
4,"Buzz_BuzzyKuala Lumpur, Malaysia",Great food at an excellent restaurant.,Many restaurants in the area have closed or ch...,5,Reviewed 31 December 2021,Alhamdulillah Restaurant

In [12]:
reviewsLangkawi_df['Location'] = 'Langkawi'
reviewsLangkawi_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,TAndrewK,Great food- lovely host,We stopped here for lunch and we're really gla...,5,Reviewed 3 February 2022,Alhamdulillah Restaurant,Langkawi
1,Ahmed S,A gem of a restaurant,"Without a doubt, this is the best Arabic resta...",5,Reviewed 30 January 2022,Alhamdulillah Restaurant,Langkawi
2,Saft1987,Australia,"Very delicious food, clean restaurant great se...",5,Reviewed 23 January 2022,Alhamdulillah Restaurant,Langkawi
3,"Paradise44960454978Johor Bahru, Malaysia",Quick and nice lunch in Langkawi,After being in splash out with our kids we loo...,5,Reviewed 4 January 2022,Alhamdulillah Restaurant,Langkawi
4,"Buzz_BuzzyKuala Lumpur, Malaysia",Great food at an excellent restaurant.,Many restaurants in the area have closed or ch...,5,Reviewed 31 December 2021,Alhamdulillah Restaurant,Langkawi

In [13]:
reviewsMelaka_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,aida569,"Great place, delicious food!",Love the Chili crab with mantau. \nGreat custo...,5,Reviewed 18 July 2020,Southern Court Restaurant
1,Jolemyn,Compose your own Chinese Dinner,"Very quiet restaurant, there was only one othe...",4,Reviewed 9 June 2019,Southern Court Restaurant
2,nchiam,"Good food, nice environment, friendly staff & ...",Had been dining here when we are in Melaka. Fo...,5,Reviewed 11 May 2019,Southern Court Restaurant
3,serenemoon85,Convenient & cozy restaurant,Managed to dine in this restaurant during my s...,5,Reviewed 12 April 2019,Southern Court Restaurant
4,174jayanthia,Surprised,Quiet restaurant. Few customers and staffers. ...,5,Reviewed 30 March 2019,Southern Court Restaurant

In [14]:
reviewsMelaka_df['Location'] = 'Melaka'
reviewsMelaka_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,aida569,"Great place, delicious food!",Love the Chili crab with mantau. \nGreat custo...,5,Reviewed 18 July 2020,Southern Court Restaurant,Melaka
1,Jolemyn,Compose your own Chinese Dinner,"Very quiet restaurant, there was only one othe...",4,Reviewed 9 June 2019,Southern Court Restaurant,Melaka
2,nchiam,"Good food, nice environment, friendly staff & ...",Had been dining here when we are in Melaka. Fo...,5,Reviewed 11 May 2019,Southern Court Restaurant,Melaka
3,serenemoon85,Convenient & cozy restaurant,Managed to dine in this restaurant during my s...,5,Reviewed 12 April 2019,Southern Court Restaurant,Melaka
4,174jayanthia,Surprised,Quiet restaurant. Few customers and staffers. ...,5,Reviewed 30 March 2019,Southern Court Restaurant,Melaka

In [15]:
reviewsMiri_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,"gilbertp715Sydney, Australia",Definitely bonzer indeed,The highlight will have to be the ambience and...,5.0,Reviewed 18 January 2021,Bonzer Restaurant
1,"hazwanie02Shah Alam, Malaysia",Served Great Breakfast!,Stayed at Kingwood Boutique Hotel for 2 nights...,4.0,Reviewed 5 September 2020,Bonzer Restaurant
2,domdew,Amazing food and cozy place,The staff was very welcoming and helpful. The ...,5.0,Reviewed 25 July 2020,Bonzer Restaurant
3,"OSWALDHIIKuching, Malaysia",Bonzer Restaurant,The restaurant is located inside Kingwood Hote...,3.0,Reviewed 28 March 2020,Bonzer Restaurant
4,IvyT1972,Well done F & B team!,We had a good dining experience at Bonzer Rest...,5.0,Reviewed 3 February 2020,Bonzer Restaurant

In [16]:
reviewsMiri_df['Location'] = 'Miri'
reviewsMiri_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"gilbertp715Sydney, Australia",Definitely bonzer indeed,The highlight will have to be the ambience and...,5.0,Reviewed 18 January 2021,Bonzer Restaurant,Miri
1,"hazwanie02Shah Alam, Malaysia",Served Great Breakfast!,Stayed at Kingwood Boutique Hotel for 2 nights...,4.0,Reviewed 5 September 2020,Bonzer Restaurant,Miri
2,domdew,Amazing food and cozy place,The staff was very welcoming and helpful. The ...,5.0,Reviewed 25 July 2020,Bonzer Restaurant,Miri
3,"OSWALDHIIKuching, Malaysia",Bonzer Restaurant,The restaurant is located inside Kingwood Hote...,3.0,Reviewed 28 March 2020,Bonzer Restaurant,Miri
4,IvyT1972,Well done F & B team!,We had a good dining experience at Bonzer Rest...,5.0,Reviewed 3 February 2020,Bonzer Restaurant,Miri

In [17]:
reviewsPenang_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,apragu2022,Cheers🍻,Came in the afternoon and had a great day here...,5,Reviewed yesterday,Healy Mac's Irish Bar & Restaurant
1,CQUEKSAN,We will definitely be back because of Milon a...,We have a wonderful set lunch in Healy Mac's. ...,5,Reviewed 3 days ago,Healy Mac's Irish Bar & Restaurant
2,"Farah AGeorge Town, Malaysia",Always a good time at Healy Mac's,Outstanding and friendly service. Good food an...,5,Reviewed 3 days ago,Healy Mac's Irish Bar & Restaurant
3,ARIESLEY,Enthusiastic service staff,Provide good service to us…\nWarm service and ...,5,Reviewed 4 days ago,Healy Mac's Irish Bar & Restaurant
4,roselitaa2019,Visited with freinds,"Healymacs staff Jeehan,Suriful,Milon are very ...",5,Reviewed 5 days ago,Healy Mac's Irish Bar & Restaurant

In [18]:
reviewsPenang_df['Location'] = 'Penang'
reviewsPenang_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,apragu2022,Cheers🍻,Came in the afternoon and had a great day here...,5,Reviewed yesterday,Healy Mac's Irish Bar & Restaurant,Penang
1,CQUEKSAN,We will definitely be back because of Milon a...,We have a wonderful set lunch in Healy Mac's. ...,5,Reviewed 3 days ago,Healy Mac's Irish Bar & Restaurant,Penang
2,"Farah AGeorge Town, Malaysia",Always a good time at Healy Mac's,Outstanding and friendly service. Good food an...,5,Reviewed 3 days ago,Healy Mac's Irish Bar & Restaurant,Penang
3,ARIESLEY,Enthusiastic service staff,Provide good service to us…\nWarm service and ...,5,Reviewed 4 days ago,Healy Mac's Irish Bar & Restaurant,Penang
4,roselitaa2019,Visited with freinds,"Healymacs staff Jeehan,Suriful,Milon are very ...",5,Reviewed 5 days ago,Healy Mac's Irish Bar & Restaurant,Penang

In [19]:
reviewsPetalingJaya_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,Hitomi A,Bistro a table,"Delicious food, good atmosphere and superb ser...",5,Reviewed 10 December 2021,Bistro a Table
1,LarryLeeFamily,Enjoyed our 15th anniversary here,"Enjoyed the food, service and ambience here. S...",5,Reviewed 26 February 2021,Bistro a Table
2,Pixel8Malaysia,Horrible first time for 4,Decided to try out the degustation sets here f...,1,Reviewed 16 November 2020,Bistro a Table
3,redthevirgindragon,Private and good,"Love the corner table with curtain, we got a l...",4,Reviewed 7 October 2020,Bistro a Table
4,alvinchang88,Nice restaurant,"Very nice restaurant, superb food, nice little...",5,Reviewed 29 August 2020,Bistro a Table

In [20]:
reviewsPetalingJaya_df['Location'] = 'Petaling Jaya'
reviewsPetalingJaya_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,Hitomi A,Bistro a table,"Delicious food, good atmosphere and superb ser...",5,Reviewed 10 December 2021,Bistro a Table,Petaling Jaya
1,LarryLeeFamily,Enjoyed our 15th anniversary here,"Enjoyed the food, service and ambience here. S...",5,Reviewed 26 February 2021,Bistro a Table,Petaling Jaya
2,Pixel8Malaysia,Horrible first time for 4,Decided to try out the degustation sets here f...,1,Reviewed 16 November 2020,Bistro a Table,Petaling Jaya
3,redthevirgindragon,Private and good,"Love the corner table with curtain, we got a l...",4,Reviewed 7 October 2020,Bistro a Table,Petaling Jaya
4,alvinchang88,Nice restaurant,"Very nice restaurant, superb food, nice little...",5,Reviewed 29 August 2020,Bistro a Table,Petaling Jaya

In [21]:
reviewsShahAlam_df.head()

,Author,Title,Review,Rating,Dates,Restaurant
0,HensemNaan,Honestly not good,Honestly not good. The lamb haneeth was obviou...,1,Reviewed 27 November 2021,Mozer's
1,tylormark,Good Middle Eastern Food,Generally food is good and consistent. The gri...,5,Reviewed 13 March 2021,Mozer's
2,"shabeenaa83Shah Alam, Malaysia",Nice arabic food,Love to eat arabic food hereGood tasty food n ...,4,Reviewed 24 August 2020,Mozer's
3,"flashman974Kuala Lumpur, Malaysia",Syrian delight,Went with friends and was pleasantly surprised...,4,Reviewed 7 March 2020,Mozer's
4,Roam653101,Middle Eastern Dining,"Leaving nearby, craving for some middle easter...",4,Reviewed 6 March 2020,Mozer's

In [22]:
reviewsShahAlam_df['Location'] = 'Shah Alam'
reviewsShahAlam_df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,HensemNaan,Honestly not good,Honestly not good. The lamb haneeth was obviou...,1,Reviewed 27 November 2021,Mozer's,Shah Alam
1,tylormark,Good Middle Eastern Food,Generally food is good and consistent. The gri...,5,Reviewed 13 March 2021,Mozer's,Shah Alam
2,"shabeenaa83Shah Alam, Malaysia",Nice arabic food,Love to eat arabic food hereGood tasty food n ...,4,Reviewed 24 August 2020,Mozer's,Shah Alam
3,"flashman974Kuala Lumpur, Malaysia",Syrian delight,Went with friends and was pleasantly surprised...,4,Reviewed 7 March 2020,Mozer's,Shah Alam
4,Roam653101,Middle Eastern Dining,"Leaving nearby, craving for some middle easter...",4,Reviewed 6 March 2020,Mozer's,Shah Alam

#### Displaying the last few rows of the customer reviews data frame for various cities in Malaysia using the tail() function

In [23]:
#display the last 5 rows from TripAdvisor restaurants in Ipoh.
reviewsIpoh_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
6286,"stuffmattersLondon, United Kingdom","Cold beer, relaxed",Goo9 was a welcome stop on our Ipoh walking to...,3,Reviewed 25 November 2018,Goo9s,Ipoh
6287,"Ian AIpoh, Malaysia",An Exceptional Cantonese Dinner in Ipoh,There were ten of us last evening and this was...,5,Reviewed 18 September 2018,Hong Feng Restaurant,Ipoh
6288,Kwchia,"Excellent fish,prawns,chicken ,shrimp dishes a...",Excellent food.\nTry their longevity fish( a s...,4,Reviewed 25 May 2017,Hong Feng Restaurant,Ipoh
6289,"meorhafiz99Ipoh, Malaysia",Aji Dataran Terbaik,Pelbagai Menu Yang Kami Sedia Daripada Masakan...,5,Reviewed 22 April 2021,Aji Dataran,Ipoh
6290,"meorhafiz99Ipoh, Malaysia",Aji Dataran Terbaik,Pelbagai Menu Yang Kami Sedia Daripada Masakan...,5,Reviewed 22 April 2021,Aji Dataran,Ipoh

In [24]:
reviewsJB_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
7563,Tomz1972,Standard hotel breakfast,"There's a strange smell from there, strongest ...",3.0,Reviewed 23 March 2013,Infusion,Johor Bahru
7564,mimie_amelliasingapore,Good place!,After reading about their negative comments i ...,4.0,Reviewed 12 February 2013,Infusion,Johor Bahru
7565,Jeff1551,Breakfast,Breakfast is good with plenty of varieties. Th...,4.0,Reviewed 11 January 2013,Infusion,Johor Bahru
7566,Rezzqi,Huge selection,Buffet dinner. Spacious dining area inside KSL...,4.0,Reviewed 16 December 2012,Infusion,Johor Bahru
7567,"piagetSingapore, Singapore",Value for money sumptuous buffet in Johor Baru...,Situated conveniently on the 2nd floor of KSL ...,4.0,Reviewed 21 October 2012,Infusion,Johor Bahru

In [25]:
reviewsKL_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
71383,"LuluEspinoNgBrisbane, Australia",Pasta in a hurry!,I had a good lunch with friends at Pasta Zanma...,3.0,Reviewed 10 September 2016,Pasta Zanmai NU Sentral,Kuala Lumpur
71384,"HappyGoLucky0704Singapore, Singapore",This time just average..,I had been to Pasta Zanmai many times but kind...,3.0,Reviewed 22 August 2016,Pasta Zanmai NU Sentral,Kuala Lumpur
71385,kxtnturf,Good food..slow serving,Well...pasta is my favorite and the Japanese f...,3.0,Reviewed 2 April 2016,Pasta Zanmai NU Sentral,Kuala Lumpur
71386,"Millennium_Falcon888Petaling Jaya, Malaysia",Good crowd on weekends,I went for a meal at Pasta Zanmai after watchi...,3.0,Reviewed 5 January 2016,Pasta Zanmai NU Sentral,Kuala Lumpur
71387,"david1949Adelaide, Australia",Very busy at lunchtime,Looking for a Japanese - pasta fusion meal...?...,3.0,Reviewed 23 October 2015,Pasta Zanmai NU Sentral,Kuala Lumpur

In [26]:
reviewsKuching_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
7898,522sarahrp,The most miserable sandwich I've seen for a wh...,I ordered a steak sandwich from the Grab app a...,1.0,Reviewed 23 December 2020,Sidewalk Cafe,Kuching
7899,"kaykeysKuching, Malaysia",Great fine dining,If you're looking for a chillax fine dining re...,4.0,Reviewed 21 February 2019,Sidewalk Cafe,Kuching
7900,"Cathy1080Serian, Malaysia",Cold mixed grill RM60.40. Unfortunately cold f...,It was quite a nice cool evening for an open a...,2.0,Reviewed 30 December 2018,Sidewalk Cafe,Kuching
7901,GeorgeLo313,Seafood spaghetti aglio olio,Had the seafood spaghetti aglio olio last nigh...,4.0,Reviewed 28 June 2018,Sidewalk Cafe,Kuching
7902,"BalandKuala Lumpur, Malaysia",Amazing food,Such a nice place. The food is awesome and the...,4.0,Reviewed 26 November 2017,Sidewalk Cafe,Kuching

In [27]:
reviewsLangkawi_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
11287,"MillyLincolnWelton, United Kingdom",say hello to your fish,we eat here for the first time in January this...,4,Reviewed 21 May 2010,Unkaizan,Langkawi
11288,"hazinheiraSingapore, Singapore","The japanese style, unforgetable!",We had a wonderful service in Unkaizan restaur...,5,Reviewed 24 January 2010,Unkaizan,Langkawi
11289,"jialormeeSingapore, Singapore",So full! Of nice food and people.,This Japanese restaurant is located beside Ish...,4,Reviewed 26 June 2009,Unkaizan,Langkawi
11290,a_freq_traveller,excellent place,"Staff are extremely friendly, quality of food ...",5,Reviewed 11 January 2009,Unkaizan,Langkawi
11291,Nice_One_DougieAustralia,Great sushimi,I have to say walking in you do not get that w...,5,Reviewed 1 October 2008,Unkaizan,Langkawi

In [28]:
reviewsMelaka_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
13005,"Long MKuala Lumpur, Malaysia",Duck noodle it is...,This place has a very bright and clean dining ...,4,Reviewed 22 November 2015,SS Food and Beverage Station,Melaka
13006,Kim K L,Real Nyona Food,"Food is cooked, supervised by a true baba Lau ...",4,Reviewed 1 December 2016,Lau Cheng Kim Nyonya Foodstall,Melaka
13007,ArthurY,Good place to get tasty...,Good place to get tasty and reasonable Nyonya ...,5,Reviewed 26 April 2009,Lau Cheng Kim Nyonya Foodstall,Melaka
13008,Kim K L,Real Nyona Food,"Food is cooked, supervised by a true baba Lau ...",4,Reviewed 1 December 2016,Lau Cheng Kim Nyonya Foodstall,Melaka
13009,ArthurY,Good place to get tasty...,Good place to get tasty and reasonable Nyonya ...,5,Reviewed 26 April 2009,Lau Cheng Kim Nyonya Foodstall,Melaka

In [29]:
reviewsMiri_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
1561,paulalangibbs,Lunch and lunch,Excellent place for take the lunch. I'd like t...,5.0,Reviewed 15 May 2016,McDonald's,Miri
1562,"Kiing239Miri,Sarawak",BAD FRONT LINE SERVICE,I work in the service industry and I've had my...,1.0,Reviewed 14 November 2015,McDonald's,Miri
1563,kongjing26,A Quite Nice To Stay,Is a quite a nice place with friends to having...,3.0,Reviewed 13 November 2015,McDonald's,Miri
1564,ShawnWong,Worst then Worst,Order a meal at McDonald and end up they just ...,1.0,Reviewed 6 August 2014,McDonald's,Miri
1565,Na33mBUnited Kingdom,Double fillet o fish!,Located next to the Petronas gas station on th...,4.0,Reviewed 15 December 2013,McDonald's,Miri

In [30]:
reviewsPenang_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
12763,horhoruwm,Pretty cool place,Very cool and hip place to hang out and have m...,5,Reviewed 1 January 2016,Awesome Canteen at Sekeping Victoria,Penang
12764,"TmenziesJakarta, Indonesia",Don't Walk Past!,This is a great concept with a wonderful take ...,5,Reviewed 30 December 2015,Awesome Canteen at Sekeping Victoria,Penang
12765,"Eileen LMetro Manila, Philippines",Charming and inspiring,The trend towards green architecture has spawn...,5,Reviewed 22 December 2015,Awesome Canteen at Sekeping Victoria,Penang
12766,"Wally SGalle, Sri Lanka","Architectural simplicity, dining unimpressive.","In an inspiring space, service is slow and uni...",3,Reviewed 5 September 2015,Awesome Canteen at Sekeping Victoria,Penang
12767,"Melvin_GuoSingapore, Singapore",An unique place worth exploring for food,You'll be greeted by friendly staff and an uni...,4,Reviewed 27 August 2015,Awesome Canteen at Sekeping Victoria,Penang

In [31]:
reviewsPetalingJaya_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
1423,"Esther176Kuala Lumpur, Malaysia",Pleasant family dinner,Had a lovely evening with my family here. The ...,3,Reviewed 11 August 2018,Miyabi,Petaling Jaya
1424,"StephenT1122Leeds, United Kingdom",Outstanding!,I was a recent guest of the Sheraton Hotel in ...,5,Reviewed 19 April 2018,Miyabi,Petaling Jaya
1425,alaeddinn2015,Farewell party,We have an official farewell lunch for very go...,5,Reviewed 20 March 2018,Miyabi,Petaling Jaya
1426,MoonL422,Fabulous Miyabi,My family recently hosted a private buffet par...,5,Reviewed 20 March 2018,Miyabi,Petaling Jaya
1427,"Cheng Huat TKuala Lumpur, Malaysia",Great Japanese lunch at good price,Went with my wife to Miyabi restaurant at newl...,5,Reviewed 14 March 2018,Miyabi,Petaling Jaya

In [32]:
reviewsShahAlam_df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
6785,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5,Reviewed 19 July 2019,Doi Chaang Caffe,Shah Alam
6786,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5,Reviewed 7 January 2019,Doi Chaang Caffe,Shah Alam
6787,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4,Reviewed 20 June 2018,Doi Chaang Caffe,Shah Alam
6788,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4,Reviewed 5 May 2019,ah muk Noodle,Shah Alam
6789,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4,Reviewed 5 May 2019,ah muk Noodle,Shah Alam

# Combining Multiple Data Frames into One

Concatenating multiple customer reviews data frames from different cities in Malaysia using Pandas concat() function to create a single data frame named 'df' for further analysis.

In [33]:
#combine multiple pandas DataFrames into a single DataFrame named df
df = pd.concat([reviewsIpoh_df, reviewsJB_df, reviewsKL_df, reviewsKuching_df, reviewsLangkawi_df, reviewsMelaka_df, 
                reviewsMiri_df, reviewsPenang_df, reviewsPetalingJaya_df, reviewsShahAlam_df], ignore_index=True)

In [34]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,Reviewed 3 weeks ago,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,Reviewed 25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,Reviewed 19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,Reviewed 15 February 2022,Cuisines Restaurant,Ipoh
...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,Reviewed 19 July 2019,Doi Chaang Caffe,Shah Alam
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,Reviewed 7 January 2019,Doi Chaang Caffe,Shah Alam
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,Reviewed 20 June 2018,Doi Chaang Caffe,Shah Alam
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam

The output above shows that the df dataframe has 140004 rows and 6 columns altogether.

In [35]:
#display the first 5 rows of df dataframe
df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,Reviewed 3 weeks ago,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,Reviewed 25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,Reviewed 19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,Reviewed 15 February 2022,Cuisines Restaurant,Ipoh

The output above shows the first few rows of the df dataframe using the head() function.

In [37]:
#display the last 5 rows of df dataframe
df.tail()

,Author,Title,Review,Rating,Dates,Restaurant,Location
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,Reviewed 19 July 2019,Doi Chaang Caffe,Shah Alam
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,Reviewed 7 January 2019,Doi Chaang Caffe,Shah Alam
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,Reviewed 20 June 2018,Doi Chaang Caffe,Shah Alam
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam

The output above shows the last few rows of the df dataframe using the head() function.

#### Counts the number of occurrences of each unique value in the 'Location' column

In [38]:
#Count of occurrences for each unique value in the 'Location' column.
df["Location"].value_counts()

Kuala Lumpur     71388
Melaka           13010
Penang           12768
Langkawi         11292
Kuching           7903
Johor Bahru       7568
Shah Alam         6790
Ipoh              6291
Miri              1566
Petaling Jaya     1428
Name: Location, dtype: int64

#### Count of occurrences of each unique restaurant name within each location.

In [39]:
df.groupby('Location')['Restaurant'].count()

Location
Ipoh              6291
Johor Bahru       7568
Kuala Lumpur     71388
Kuching           7903
Langkawi         11292
Melaka           13010
Miri              1566
Penang           12768
Petaling Jaya     1428
Shah Alam         6790
Name: Restaurant, dtype: int64

In [40]:
#Count of occurrences for each unique combination of 'Location' and 'Restaurant', grouped by 'Location'.
counts = df.groupby('Location')['Restaurant'].value_counts()
print(counts)

Location   Restaurant
Ipoh       Lou Wong Bean Sprout Chicken    440
           Ming Court Hong Kong Tim Sum    358
           Foh San                         330
           Cuisines Restaurant             243
           Aun Kheng Lim Salted Chicken    235
                                          ...
Shah Alam  VMeet Cafe                        1
           Veggie Kingdom Klang              1
           WestPlate Factory                 1
           Westside Bistro                   1
           Yap Kee Banana Leaf               1
Name: Restaurant, Length: 2593, dtype: int64

In [40]:
grouped = df.groupby('Location')

for location, group in grouped:
    print(f"Location: {location}")
    print(group['Restaurant'])
    print()

Location: Ipoh
0        Cuisines Restaurant
1        Cuisines Restaurant
2        Cuisines Restaurant
3        Cuisines Restaurant
4        Cuisines Restaurant
                ...
6286                   Goo9s
6287    Hong Feng Restaurant
6288    Hong Feng Restaurant
6289             Aji Dataran
6290             Aji Dataran
Name: Restaurant, Length: 6291, dtype: object

Location: Johor Bahru
6291     Giovanni's Ny Style Restaurant
6292     Giovanni's Ny Style Restaurant
6293     Giovanni's Ny Style Restaurant
6294     Giovanni's Ny Style Restaurant
6295     Giovanni's Ny Style Restaurant
                      ...
13854                          Infusion
13855                          Infusion
13856                          Infusion
13857                          Infusion
13858                          Infusion
Name: Restaurant, Length: 7568, dtype: object

Location: Kuala Lumpur
13859             Chambers Grill
13860             Chambers Grill
13861             Chambers Grill
13862             Chambers Grill
13863             Chambers Grill
                  ...
85242    Pasta Zanmai NU Sentral
85243    Pasta Zanmai NU Sentral
85244    Pasta Zanmai NU Sentral
85245    Pasta Zanmai NU Sentral
85246    Pasta Zanmai NU Sentral
Name: Restaurant, Length: 71388, dtype: object

Location: Kuching
85247      The Bikalan
85248      The Bikalan
85249      The Bikalan
85250      The Bikalan
85251      The Bikalan
             ...
93145    Sidewalk Cafe
93146    Sidewalk Cafe
93147    Sidewalk Cafe
93148    Sidewalk Cafe
93149    Sidewalk Cafe
Name: Restaurant, Length: 7903, dtype: object

Location: Langkawi
93150     Alhamdulillah Restaurant
93151     Alhamdulillah Restaurant
93152     Alhamdulillah Restaurant
93153     Alhamdulillah Restaurant
93154     Alhamdulillah Restaurant
                    ...
104437                    Unkaizan
104438                    Unkaizan
104439                    Unkaizan
104440                    Unkaizan
104441                    Unkaizan
Name: Restaurant, Length: 11292, dtype: object

Location: Melaka
104442         Southern Court Restaurant
104443         Southern Court Restaurant
104444         Southern Court Restaurant
104445         Southern Court Restaurant
104446         Southern Court Restaurant
                       ...
117447      SS Food and Beverage Station
117448    Lau Cheng Kim Nyonya Foodstall
117449    Lau Cheng Kim Nyonya Foodstall
117450    Lau Cheng Kim Nyonya Foodstall
117451    Lau Cheng Kim Nyonya Foodstall
Name: Restaurant, Length: 13010, dtype: object

Location: Miri
117452    Bonzer Restaurant
117453    Bonzer Restaurant
117454    Bonzer Restaurant
117455    Bonzer Restaurant
117456    Bonzer Restaurant
                ...
119013           McDonald's
119014           McDonald's
119015           McDonald's
119016           McDonald's
119017           McDonald's
Name: Restaurant, Length: 1566, dtype: object

Location: Penang
119018      Healy Mac's Irish Bar & Restaurant
119019      Healy Mac's Irish Bar & Restaurant
119020      Healy Mac's Irish Bar & Restaurant
119021      Healy Mac's Irish Bar & Restaurant
119022      Healy Mac's Irish Bar & Restaurant
                          ...
131781    Awesome Canteen at Sekeping Victoria
131782    Awesome Canteen at Sekeping Victoria
131783    Awesome Canteen at Sekeping Victoria
131784    Awesome Canteen at Sekeping Victoria
131785    Awesome Canteen at Sekeping Victoria
Name: Restaurant, Length: 12768, dtype: object

Location: Petaling Jaya
131786    Bistro a Table
131787    Bistro a Table
131788    Bistro a Table
131789    Bistro a Table
131790    Bistro a Table
               ...
133209            Miyabi
133210            Miyabi
133211            Miyabi
133212            Miyabi
133213            Miyabi
Name: Restaurant, Length: 1428, dtype: object

Location: Shah Alam
133214             Mozer's
133215             Mozer's
133216             Mozer's
133217             Mozer's
133218             Mozer's
                ...
139999    Doi Chaang Caffe
140000    Doi Chaang Caffe
140001    Doi Chaang Caffe
140002       ah muk Noodle
140003       ah muk Noodle
Name: Restaurant, Length: 6790, dtype: object

# Analyzing data

Next, we want to analyze the data to know the datatype of the data and other properties.

In [41]:
#describe the dataframe by showing the count, mean, standard deviation, min, percentiles, and max.
df.describe()

              Rating
count  140004.000000
mean        4.231193
std         1.032416
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

The output above shows the summary of the data frame using Pandas describe() function to get an overview of the central tendency, dispersion, and shape of the distribution of numeric columns which is Rating in the df data frame.

In [42]:
#showing the datatypes of the column
df.dtypes

Author         object
Title          object
Review         object
Rating        float64
Dates          object
Restaurant     object
Location       object
dtype: object

The output above shows the data types of the columns in the df data frame using dtypes function to understand the structure of the data frame and check if any column needs to be converted to a different data type for further analysis.

Aside from Rating in float64, others are in object datatypes.

#### Checking for missing values in df data frame.

Null values or NaN need to be remove from the dataframe to make the dataframe looks more organized and clean. Null values can impact the accuracy of the analysis and can also cause errors in data processing.

In [43]:
#display the number of null values in the dataframe
print("Number of NaN values for each columns: ")
df.isna().sum()

Number of NaN values for each columns:

Author        0
Title         0
Review        0
Rating        0
Dates         0
Restaurant    0
Location      0
dtype: int64

The output above shows that there are no null values in the df dataframe.

#### Displaying existed column

By displaying the number of columns, we can clearly see the existing columns or variables in the df dataframe using the columns.values attribute.

In [44]:
print(df.columns.values)

['Author' 'Title' 'Review' 'Rating' 'Dates' 'Restaurant' 'Location']

The df dataframe has seven columns that exist inside df dataframe.

# Data cleaning

# Resolve inconsistencies

Next, we want to remove the inconsistencies occured in this dataset. First, we need to display all of the column in the df2 dataframe.

In [45]:
#display all column in the df
print(df.columns.values)

['Author' 'Title' 'Review' 'Rating' 'Dates' 'Restaurant' 'Location']

There are eleven 11 columns in this dataset. Now, we will check the datatype of these columns.

In [46]:
#display datatypes of each column
df.dtypes

Author         object
Title          object
Review         object
Rating        float64
Dates          object
Restaurant     object
Location       object
dtype: object

From the output, except for Rating in float64, there rest are in object. In our analysis, the most important attributes are the Restaurant and the Clean_Review, we are going to be focusing on these two attributes to resolve the inconsistencies.

**Fix restaurant name inconsistencies**

We will check the Restaurant and the Clean_Review columns of object datatypes to determine whether there are language inconsistencies or not.

In [47]:
#get all unique values in 'Restaurant' column and sort it in alphabetical orders
df_rest = df['Restaurant'].unique()
df_rest.sort()
df_rest

array(['101 Food Center', '103 Coffee Workshop', '16th St Cafe', ...,
       '老行家 Expert (RH Plaza)', '阿胜乐乐',
       '龍門客棧 Dragon Door Inn Steamboat Restaurant'], dtype=object)

From the output, it looks like there is a restaurant's name in other languages and it does not provide English translation for it. Since our audience are not multilingual, we need to fix this inconsistency.

In [48]:
search_query = '阿胜乐乐'
filtered_df = df[df['Restaurant'] == search_query]

In [49]:
filtered_df

,Author,Title,Review,Rating,Dates,Restaurant,Location
13552,Isaac L,Dinner,It was my first experience trying out this new...,3.0,Reviewed 13 September 2017,阿胜乐乐,Johor Bahru

In [50]:
df['Restaurant'] = df['Restaurant'].replace('阿胜乐乐', '阿胜乐乐 Asheng Lele')

In [51]:
df[df['Restaurant'] == '阿胜乐乐 Asheng Lele']

,Author,Title,Review,Rating,Dates,Restaurant,Location
13552,Isaac L,Dinner,It was my first experience trying out this new...,3.0,Reviewed 13 September 2017,阿胜乐乐 Asheng Lele,Johor Bahru

#### Fixing dates columns

In the df dataframe, we can see that some of the dates are not accurate as shown below, which need to be fix and imputing them with appropriate values.

In [52]:
df.head()

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,Reviewed 3 weeks ago,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,Reviewed 25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,Reviewed 19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,Reviewed 15 February 2022,Cuisines Restaurant,Ipoh

We can sort the values in Dates column in ascending order as shown below.

In [53]:
df_dates = df.sort_values('Dates')
df_dates

,Author,Title,Review,Rating,Dates,Restaurant,Location
37747,"boro74Ashford, Kent",Worse than poor. A pathetic attempt at chinese...,I dined at this restaurant whilst in Kuala Lum...,1.0,Reviewed 1 April 2011,Lai Po Heen,Kuala Lumpur
102740,elnha,Good food,Nice layout and romantic view. Best dining exp...,5.0,Reviewed 1 April 2012,La Sal at Casa Del Mar,Langkawi
103834,"FplusVPenang Island, Malaysia",Very Salty Food,Had dinner here today and must say the food wa...,2.0,Reviewed 1 April 2012,Wonderland Food Store,Langkawi
32991,"ruebs25Klang, Selangor, Malaysia",'Finest place of rendezvous',Tucked in a cosy neighbourhood in Taman Tun Dr...,5.0,Reviewed 1 April 2012,Vin's Restaurant and Bar,Kuala Lumpur
32990,"FoodEnthusedKuala Lumpur, Malaysia",Run-of-the-mill pub,Vin's is nothing more than a random neighbourh...,3.0,Reviewed 1 April 2012,Vin's Restaurant and Bar,Kuala Lumpur
...,...,...,...,...,...,...,...
42282,Donna Ardina V,Had fun and great service!!! It’s my third tim...,I went here few days ago with my girls to hang...,5.0,Reviewed yesterday,"WET Deck, W Kuala Lumpur",Kuala Lumpur
77887,Mandymaltese,Uncle Don Publika,This is the worst outlet that I have ever been...,1.0,Reviewed yesterday,Uncle Don's Solaris Dutamas - Publika,Kuala Lumpur
129067,"Winston DKuala Lumpur, Malaysia",Excellent Indian and Chinese food at reasonabl...,We went to Helena's Cafe on two consecutive da...,5.0,Reviewed yesterday,Helena's Cafe,Penang
18832,chloep553,Latest recipe,"Excellent service, good food. Follow SOP, good...",5.0,Reviewed yesterday,Latest Recipe,Kuala Lumpur
21653,lokman80,Good selection of breakfast menu,I'm loving it. Slection of buffet menu is wide...,5.0,Reviewed yesterday,Vasco's,Kuala Lumpur

From the output, we can see there is "Reviewed yesterday" which need to be change to proper input.

In [54]:
dates_values = df_dates['Dates']
dates_values

37747     Reviewed 1 April 2011
102740    Reviewed 1 April 2012
103834    Reviewed 1 April 2012
32991     Reviewed 1 April 2012
32990     Reviewed 1 April 2012
                   ...
42282        Reviewed yesterday
77887        Reviewed yesterday
129067       Reviewed yesterday
18832        Reviewed yesterday
21653        Reviewed yesterday
Name: Dates, Length: 140004, dtype: object

In [55]:
print(df[df['Dates'].str.contains('yesterday')])

                                    Author  \
13859                            kmc1e2018
17574                  Paradise45674440826
17575                               pyin y
18831                            Neshdev01
18832                            chloep553
20070         jokl78Kuala Lumpur, Malaysia
21653                             lokman80
23557                               Miziga
35418                           Safieyra S
35419                                Nor I
40858   Venture39678071266Melaka, Malaysia
42281                            Valerie N
42282                       Donna Ardina V
77887                         Mandymaltese
85247    Sharmini_VioletLangkawi, Malaysia
119018                          apragu2022
123948                         Alanklin143
129067     Winston DKuala Lumpur, Malaysia
135103                         jennF8499RX

                                                    Title  \
13859                              Chambers Bar and Grill
17574                                     Birthday Dinner
17575                                    birthday dinner
18831                                   Excellent service
18832                                       Latest recipe
20070                                        Disappointed
21653                    Good selection of breakfast menu
23557                                     Birthday dinner
35418                                   Wonderful service
35419                            Afternoon tea experience
40858         Awful, seriously overpriced, food terrible.
42281                Amazing view and relaxed environment
42282   Had fun and great service!!! It’s my third tim...
77887                                   Uncle Don Publika
85247   I'm a happy foodie brought back in time at The...
119018                                            Cheers🍻
123948  Honest opinion from a Penangite - There are ot...
129067  Excellent Indian and Chinese food at reasonabl...
135103                                         thank you!

                                                   Review  Rating  \
13859   David, Thanga, Mikail and Chef Steven gave bri...     5.0
17574   Ms Azura service is marvelous outstanding supe...     5.0
17575   celebrated aunt's dinner, good food quality, o...     5.0
18831   We had a good weekend with our family. The bre...     5.0
18832   Excellent service, good food. Follow SOP, good...     5.0
20070   We decided to celebrate our daughter's birthda...     1.0
21653   I'm loving it. Slection of buffet menu is wide...     5.0
23557   Food is great . Friendly stuff especially Marw...     5.0
35418   This is wonderful when I eat lunch few days be...     5.0
35419   Afternoon tea was very nice.the scones is so s...     5.0
40858   Food was awful, definitely not Indian chef. Wa...     2.0
42281   I went Wet Deck last week with my family, can ...     5.0
42282   I went here few days ago with my girls to hang...     5.0
77887   This is the worst outlet that I have ever been...     1.0
85247   We reached The Bikalan located at the little S...     5.0
119018  Came in the afternoon and had a great day here...     5.0
123948  Will never step food on this establishment!Fir...     1.0
129067  We went to Helena's Cafe on two consecutive da...     5.0
135103  had a really great time at kampachi! food was ...     5.0

                      Dates                             Restaurant  \
13859   Reviewed yesterday                          Chambers Grill
17574   Reviewed yesterday                      Iketeru Restaurant
17575   Reviewed yesterday                      Iketeru Restaurant
18831   Reviewed yesterday                           Latest Recipe
18832   Reviewed yesterday                           Latest Recipe
20070   Reviewed yesterday                          Gastro Sentral
21653   Reviewed yesterday                                 Vasco's
23557   Reviewed yesterday                   Flock, W Kuala Lumpur
35418   Reviewed yesterday              The Lounge at Four Seasons
35419   Reviewed yesterday              The Lounge at Four Seasons
40858   Reviewed yesterday                           Bombay Palace
42281   Reviewed yesterday                WET Deck, W Kuala Lumpur
42282   Reviewed yesterday                WET Deck, W Kuala Lumpur
77887   Reviewed yesterday   Uncle Don's Solaris Dutamas - Publika
85247   Reviewed yesterday                             The Bikalan
119018  Reviewed yesterday      Healy Mac's Irish Bar & Restaurant
123948  Reviewed yesterday                            Lagenda Cafe
129067  Reviewed yesterday                           Helena's Cafe
135103  Reviewed yesterday                        Kampachi Plaza33

            Location
13859   Kuala Lumpur
17574   Kuala Lumpur
17575   Kuala Lumpur
18831   Kuala Lumpur
18832   Kuala Lumpur
20070   Kuala Lumpur
21653   Kuala Lumpur
23557   Kuala Lumpur
35418   Kuala Lumpur
35419   Kuala Lumpur
40858   Kuala Lumpur
42281   Kuala Lumpur
42282   Kuala Lumpur
77887   Kuala Lumpur
85247        Kuching
119018        Penang
123948        Penang
129067        Penang
135103     Shah Alam

In [56]:
print(df[df['Dates'].str.contains('yesterday')].shape[0])

19

The owner of the data collected these data on 20 March 2022 which means "Reviewed yesterday" fall on 19 March 2022. Now, we are going to replace "Reviewed yesterday" to "Reviewed 19 March 2022".

In [57]:
df['Dates'] = df['Dates'].str.strip().replace('Reviewed yesterday', 'Reviewed 19 March 2022')

In [58]:
df.sort_values('Dates')

,Author,Title,Review,Rating,Dates,Restaurant,Location
37747,"boro74Ashford, Kent",Worse than poor. A pathetic attempt at chinese...,I dined at this restaurant whilst in Kuala Lum...,1.0,Reviewed 1 April 2011,Lai Po Heen,Kuala Lumpur
68722,jeanette34,dinner.,thy are same around the world.same food.same t...,4.0,Reviewed 1 April 2012,Subway,Kuala Lumpur
65820,jeanette34,my fav place,i love the food in this place.if you lucky to ...,5.0,Reviewed 1 April 2012,Chili's,Kuala Lumpur
59448,"hOMeYogaKuala Lumpur, Malaysia",Miss the Masala Chai,I went to the other branch at jalan masjid ind...,4.0,Reviewed 1 April 2012,Saravana Bhavan,Kuala Lumpur
81469,"sayamiKuala Lumpur, Malaysia",Great Humus,Do try the rice dishes - all of them are tasty...,5.0,Reviewed 1 April 2012,Al diafah Express,Kuala Lumpur
...,...,...,...,...,...,...,...
15697,pravinsai90,Mouth Watering Food,Had a great time at this place! They have an ...,5.0,Reviewed 9 September 2021,Knowhere Bangsar,Kuala Lumpur
14705,Eierbaeren,Wedding Anniversary very successful,Went here tonight for the first time with my f...,5.0,Reviewed 9 September 2021,Positano Risto,Kuala Lumpur
132769,Alicia KIowa,Customer service 10/10,"Experience was great, food (sashimi) fresh & c...",5.0,Reviewed today,Kampachi Plaza33,Petaling Jaya
132768,ChienMingNg,Celebrate birthday,Enjoy the good food. Simple ingredient with ex...,4.0,Reviewed today,Kampachi Plaza33,Petaling Jaya
68032,jokl78,Below par,All the beer served on tap is NOT cold - lousy...,2.0,Reviewed today,Weissbrau Bistro & Bar,Kuala Lumpur

In [59]:
print(df[df['Dates'].str.contains('yesterday')].shape[0])

0

From the output, we can see that "Reviewed yesterday" is successfully replaced, however we noticed that there is "Reviewed today" which need to be fixed too. 

We are going to replace "Reviewed today" to "Reviewed 20 March 2022"

In [60]:
print(df[df['Dates'].str.contains('today')].shape[0])

3

In [61]:
print(df[df['Dates'].str.contains('today')])

              Author                   Title  \
68032         jokl78               Below par
132768   ChienMingNg      Celebrate birthday
132769  Alicia KIowa  Customer service 10/10

                                                   Review  Rating  \
68032   All the beer served on tap is NOT cold - lousy...     2.0
132768  Enjoy the good food. Simple ingredient with ex...     4.0
132769  Experience was great, food (sashimi) fresh & c...     5.0

                 Dates              Restaurant       Location
68032   Reviewed today  Weissbrau Bistro & Bar   Kuala Lumpur
132768  Reviewed today        Kampachi Plaza33  Petaling Jaya
132769  Reviewed today        Kampachi Plaza33  Petaling Jaya

In [62]:
df['Dates'] = df['Dates'].str.strip().replace('Reviewed today', 'Reviewed 20 March 2022')

In [63]:
print(df[df['Dates'].str.contains('today')].shape[0])

0

In [64]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,Reviewed 3 weeks ago,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,Reviewed 25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,Reviewed 19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,Reviewed 15 February 2022,Cuisines Restaurant,Ipoh
...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,Reviewed 19 July 2019,Doi Chaang Caffe,Shah Alam
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,Reviewed 7 January 2019,Doi Chaang Caffe,Shah Alam
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,Reviewed 20 June 2018,Doi Chaang Caffe,Shah Alam
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam

In [65]:
print(df[df['Dates'].str.contains('ago')])

                                       Author  \
0            AgentcikayKuala Lumpur, Malaysia
2636                                    AZLee
3186                              Relax513525
3187                              kiirran1997
3398        VernonC_13Petaling Jaya, Malaysia
...                                       ...
136011                                Shina R
136012      karant2021Kathmandu Valley, Nepal
137412                     The_Traveler010710
139540  SyedZubairHa5anKuala Lumpur, Malaysia
139554                               alexo273

                                              Title  \
0       Fantastic International Cuisine at Cuisines
2636                              Good for families
3186          Excellent Food at a historical Placef
3187                                    Excellent☺️
3398          Great place to have lunch or dinner.
...                                             ...
136011                            Great hospitality
136012                Superb 3 weeks with Hilton PJ
137412   Great Japanese Restaurant @Setia City Mall
139540        Halal Italian Food with peace of mind
139554                                 Nice Tim sum

                                                   Review  Rating  \
0       Dinner here at Cuisines Restaurant was good. T...     5.0
2636    Good variety of food (Malaysian, western), rea...     4.0
3186    We enjoyed an outstanding Malaysian Lunch at a...     5.0
3187    First time visit. Nice ambiance. Just tried th...     5.0
3398    Great place to have roast duck. They have 3 va...     4.0
...                                                   ...     ...
136011  I wanna give a huge compliment to staff name b...     5.0
136012  It’s been an awesome moment for us to be in th...     5.0
137412  This Japanese restaurant is better than Sushi ...     5.0
139540  Best food Italian Halal food option in town, t...     5.0
139554  Very nice Tim Sum served. The Tim Sum are all ...     4.0

                       Dates           Restaurant   Location
0       Reviewed 3 weeks ago  Cuisines Restaurant       Ipoh
2636     Reviewed 1 week ago      Little Elephant       Ipoh
3186    Reviewed 2 weeks ago        Durbar at FMS       Ipoh
3187    Reviewed 3 weeks ago        Durbar at FMS       Ipoh
3398    Reviewed 2 weeks ago         Restoran SYW       Ipoh
...                      ...                  ...        ...
136011  Reviewed 3 weeks ago           Paya Serai  Shah Alam
136012  Reviewed 3 weeks ago           Paya Serai  Shah Alam
137412  Reviewed 5 weeks ago            Sushi Tei  Shah Alam
139540  Reviewed 3 weeks ago        Gino's Recipe  Shah Alam
139554  Reviewed 3 weeks ago      Yat Pan Dim Sum  Shah Alam

[581 rows x 7 columns]

In [66]:
print(df[df['Dates'].str.contains('ago')].shape[0])

581

In [67]:
ago_dates = df[df['Dates'].str.contains('ago')]['Dates'].unique()
print(f"There are {len(ago_dates)} unique dates containing 'ago':")
print(ago_dates)

There are 10 unique dates containing 'ago':
['Reviewed 3 weeks ago' 'Reviewed 1 week ago' 'Reviewed 2 weeks ago'
 'Reviewed 4 weeks ago' 'Reviewed 3 days ago' 'Reviewed 5 days ago'
 'Reviewed 6 days ago' 'Reviewed 2 days ago' 'Reviewed 5 weeks ago'
 'Reviewed 4 days ago']

In [68]:
# Count the occurrence of each value in ago_dates
for date in ago_dates:
    count = df[df['Dates'] == date].shape[0]
    print(f"{date}: {count}")

Reviewed 3 weeks ago: 118
Reviewed 1 week ago: 106
Reviewed 2 weeks ago: 93
Reviewed 4 weeks ago: 142
Reviewed 3 days ago: 18
Reviewed 5 days ago: 21
Reviewed 6 days ago: 24
Reviewed 2 days ago: 23
Reviewed 5 weeks ago: 22
Reviewed 4 days ago: 14

To correct these dates, we are going to replace them with more appropriate or accurate values. 

Since "Reviewed today" is on 20 March 2022, thus

"Reviewed 2 days ago" is on 18 March 2022

"Reviewed 3 days ago" is on 17 March 2022

"Reviewed 4 days ago" is on 16 March 2022

"Reviewed 5 days ago" is on 15 March 2022

"Reviewed 6 days ago" is on 14 March 2022

"Reviewed 1 week ago" is on 13 March 2022

"Reviewed 2 weeks ago" estimate to be on 6 March 2022

"Reviewed 3 weeks ago" estimate to be on 27 February 2022

"Reviewed 4 weeks ago" estimate to be on 20 February 2022

"Reviewed 5 weeks ago" estimate to be on 13 February 2022

In [69]:
df.loc[df['Dates'].str.contains('Reviewed 2 days ago'), 'Dates'] = 'Reviewed 18 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 3 days ago'), 'Dates'] = 'Reviewed 17 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 4 days ago'), 'Dates'] = 'Reviewed 16 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 5 days ago'), 'Dates'] = 'Reviewed 15 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 6 days ago'), 'Dates'] = 'Reviewed 14 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 1 week ago'), 'Dates'] = 'Reviewed 13 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 2 weeks ago'), 'Dates'] = 'Reviewed 6 March 2022'
df.loc[df['Dates'].str.contains('Reviewed 3 weeks ago'), 'Dates'] = 'Reviewed 27 February 2022'
df.loc[df['Dates'].str.contains('Reviewed 4 weeks ago'), 'Dates'] = 'Reviewed 20 February 2022'
df.loc[df['Dates'].str.contains('Reviewed 5 weeks ago'), 'Dates'] = 'Reviewed 13 February 2022'

In [70]:
ago_dates = df[df['Dates'].str.contains('ago')]['Dates'].unique()
print(f"There are {len(ago_dates)} unique dates containing 'ago':")
print(ago_dates)

There are 0 unique dates containing 'ago':
[]

In [71]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,Reviewed 27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,Reviewed 25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,Reviewed 19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,Reviewed 15 February 2022,Cuisines Restaurant,Ipoh
...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,Reviewed 19 July 2019,Doi Chaang Caffe,Shah Alam
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,Reviewed 7 January 2019,Doi Chaang Caffe,Shah Alam
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,Reviewed 20 June 2018,Doi Chaang Caffe,Shah Alam
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,Reviewed 5 May 2019,ah muk Noodle,Shah Alam

In [72]:
df.sort_values('Dates')

,Author,Title,Review,Rating,Dates,Restaurant,Location
37747,"boro74Ashford, Kent",Worse than poor. A pathetic attempt at chinese...,I dined at this restaurant whilst in Kuala Lum...,1.0,Reviewed 1 April 2011,Lai Po Heen,Kuala Lumpur
102740,elnha,Good food,Nice layout and romantic view. Best dining exp...,5.0,Reviewed 1 April 2012,La Sal at Casa Del Mar,Langkawi
139145,"FoodEnthusedKuala Lumpur, Malaysia",Run-of-the-mill pub,Vin's is nothing more than a random neighbourh...,3.0,Reviewed 1 April 2012,Vin's Restaurant and Bar,Shah Alam
65820,jeanette34,my fav place,i love the food in this place.if you lucky to ...,5.0,Reviewed 1 April 2012,Chili's,Kuala Lumpur
139146,"ruebs25Klang, Selangor, Malaysia",'Finest place of rendezvous',Tucked in a cosy neighbourhood in Taman Tun Dr...,5.0,Reviewed 1 April 2012,Vin's Restaurant and Bar,Shah Alam
...,...,...,...,...,...,...,...
14706,ariffviolinx,Amazing authentic italian experience,First class service and amazing food i just ca...,5.0,Reviewed 9 September 2021,Positano Risto,Kuala Lumpur
3399,JimmyDonaldson_tvlr,Everything is good,I tapau almost everyday and I am always satisf...,5.0,Reviewed 9 September 2021,Restoran SYW,Ipoh
15697,pravinsai90,Mouth Watering Food,Had a great time at this place! They have an ...,5.0,Reviewed 9 September 2021,Knowhere Bangsar,Kuala Lumpur
16357,sam s,Birthday time,Had a phenomenal time with amazing cocktails a...,5.0,Reviewed 9 September 2021,Canopy Rooftop Bar and Lounge,Kuala Lumpur
16359,Liyana A,The best place to chill and hang out!,Canopyhas the best lounge to chill and hangout...,5.0,Reviewed 9 September 2021,Canopy Rooftop Bar and Lounge,Kuala Lumpur

Finally, we noticed that having "Reviewed...." does not make sense in Dates column. Thus, we can remove them as shown below.

In [73]:
df['Dates'] = df['Dates'].str.lstrip('Reviewed ')

In [74]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,27 February 2022,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,27 February 2022,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,25 February 2022,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,19 February 2022,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,15 February 2022,Cuisines Restaurant,Ipoh
...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,19 July 2019,Doi Chaang Caffe,Shah Alam
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,7 January 2019,Doi Chaang Caffe,Shah Alam
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,20 June 2018,Doi Chaang Caffe,Shah Alam
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,5 May 2019,ah muk Noodle,Shah Alam
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,5 May 2019,ah muk Noodle,Shah Alam

In [75]:
# Convert 'Dates' column to datetime data type
df['Dates'] = pd.to_datetime(df['Dates'])

# Verify the updated data types
print(df.dtypes)

Author                object
Title                 object
Review                object
Rating               float64
Dates         datetime64[ns]
Restaurant            object
Location              object
dtype: object

In [76]:
df['Dates']

0        2022-02-27
1        2022-02-27
2        2022-02-25
3        2022-02-19
4        2022-02-15
            ...
139999   2019-07-19
140000   2019-01-07
140001   2018-06-20
140002   2019-05-05
140003   2019-05-05
Name: Dates, Length: 140004, dtype: datetime64[ns]

In [77]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh
...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam

**Splitting the Dates column into three new columns**

Separating the dates column into separate columns for day, month, and year make it easier to perform certain types of analysis later on, especially to group or filter by day, month, or year. We can split the Dates using the command line below

In [78]:
# Split 'Dates' column into day, month, and year columns
df['Day'] = df['Dates'].dt.day
df['Month'] = df['Dates'].dt.month
df['Year'] = df['Dates'].dt.year

In [79]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

In [80]:
# Verify the updated data types
print(df.dtypes)

Author                object
Title                 object
Review                object
Rating               float64
Dates         datetime64[ns]
Restaurant            object
Location              object
Day                    int64
Month                  int64
Year                   int64
dtype: object

#### Dropping the unrelevant reviews based on 'Year'

We want to drop some of the reviews that is consider unrelevant to the analysis.

In [81]:
# Count the occurrences of each unique row in the "Year" column
unique_counts = df['Year'].value_counts().reset_index()

# Rename the columns for clarity
unique_counts.columns = ['Year', 'Count']

# Sort the dataframe in descending order by the "Year" column
unique_counts_sorted = unique_counts.sort_values('Year', ascending=False).reset_index(drop=True)

# Display the sorted unique rows and their counts
print(unique_counts_sorted)

    Year  Count
0   2022   1571
1   2021   4599
2   2020  10327
3   2019  23845
4   2018  21239
5   2017  20954
6   2016  20663
7   2015  15437
8   2014   8739
9   2013   6302
10  2012   4405
11  2011   1397
12  2010    334
13  2009    162
14  2008     30

From the output, we can see that the most number of occurences is in Year 2019 at 23845, and the least number of occurences is in Year 2008 at 30.

From Year 2022 to 2008, there is a 14 years gap in between. 
From Year 2008 to Year 2019, it shows an increasing trend while from Year 2019 to Year 2022, it shows an decreasing trend.

These are the analysis that we want to do in order to determine which Year are relevant and unrelevant to our analysis

Recent Years: Analyzing reviews from the most recent years (e.g., 2021 and 2022) will provide insights into the current sentiments and trends in the restaurant industry. This can be particularly valuable if you are interested in understanding the present scenario.

Trend Analysis: Including a range of years, such as the last 5-10 years, can help identify long-term trends and patterns in sentiment. This will allow you to observe changes and shifts in consumer sentiments over time.

Industry Changes: Considering years when significant changes occurred in the industry, such as the rise of food delivery platforms or the impact of the COVID-19 pandemic, can offer valuable insights into how these events affected customer sentiments and behavior.

Sample Size: Assessing the number of reviews available for each year is also important. If certain years have very few reviews compared to others, it may affect the statistical significance and reliability of the sentiment analysis results for those years.

In [82]:
# Filter out rows with specific years
years_to_drop = [2016, 2015, 2014, 2013,2012, 2011, 2010, 2009, 2008]
df = df[~df['Year'].isin(years_to_drop)].copy()

# Display the updated dataframe
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
139999,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
140000,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
140001,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
140002,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019
140003,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

In [83]:
# Count the occurrences of each unique row in the "Year" column
unique_counts = df['Year'].value_counts().reset_index()

# Rename the columns for clarity
unique_counts.columns = ['Year', 'Count']

# Sort the dataframe in descending order by the "Year" column
unique_counts_sorted = unique_counts.sort_values('Year', ascending=False).reset_index(drop=True)

# Display the sorted unique rows and their counts
print(unique_counts_sorted)

   Year  Count
0  2022   1571
1  2021   4599
2  2020  10327
3  2019  23845
4  2018  21239
5  2017  20954

In [84]:
# Reset the index
df.reset_index(drop=True, inplace=True)

# Display the updated dataframe
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
82530,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
82531,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
82532,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
82533,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019
82534,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

**Detect duplicate data**

Duplicate data can interupt the flow of the data because if we did not perform the cleaning data properly it can affect the decision making. So, we need to search for the duplicate data from the dataframe.

In [85]:
# Identify the duplicated rows
duplicated_rows = df[df.duplicated()]

# Display the duplicated rows
print(duplicated_rows)

                                   Author  \
4006            meorhafiz99Ipoh, Malaysia
50768                        Blk13Holland
50769                             manis c
50770   yeelaml2015Kuala Lumpur, Malaysia
50771                             Ladan B
...                                   ...
78368   StephenT1122Leeds, United Kingdom
78369                       alaeddinn2015
78370                            MoonL422
78371  Cheng Huat TKuala Lumpur, Malaysia
82534  stefaniecstPetaling Jaya, Malaysia

                                                 Title  \
4006                               Aji Dataran Terbaik
50768          Happy family meal adjacent to McDonalds
50769                                   Delicious Food
50770  Japanese Italian Fusion Food in a bustling hub.
50771                Nice decoration + delicious table
...                                                ...
78368                                     Outstanding!
78369                                  Farewell party
78370                                  Fabulous Miyabi
78371               Great Japanese lunch at good price
82534                           Homemade sitiawan food

                                                  Review  Rating      Dates  \
4006   Pelbagai Menu Yang Kami Sedia Daripada Masakan...     5.0 2021-04-22
50768  Good fresh food. Clean. Good service. Good val...     5.0 2019-12-22
50769  The restaurant is very clean with friendly sta...     5.0 2019-05-06
50770  The restaurant is at Level 4 of Nu Sentral sho...     4.0 2018-11-07
50771  Offer modern dishes with touch of Japanese fla...     4.0 2018-10-20
...                                                  ...     ...        ...
78368  I was a recent guest of the Sheraton Hotel in ...     5.0 2018-04-19
78369  We have an official farewell lunch for very go...     5.0 2018-03-20
78370  My family recently hosted a private buffet par...     5.0 2018-03-20
78371  Went with my wife to Miyabi restaurant at newl...     5.0 2018-03-14
82534  Located opposite samy & min bah kut teh (Suban...     4.0 2019-05-05

                    Restaurant       Location  Day  Month  Year
4006               Aji Dataran           Ipoh   22      4  2021
50768  Pasta Zanmai NU Sentral   Kuala Lumpur   22     12  2019
50769  Pasta Zanmai NU Sentral   Kuala Lumpur    6      5  2019
50770  Pasta Zanmai NU Sentral   Kuala Lumpur    7     11  2018
50771  Pasta Zanmai NU Sentral   Kuala Lumpur   20     10  2018
...                        ...            ...  ...    ...   ...
78368                   Miyabi  Petaling Jaya   19      4  2018
78369                   Miyabi  Petaling Jaya   20      3  2018
78370                   Miyabi  Petaling Jaya   20      3  2018
78371                   Miyabi  Petaling Jaya   14      3  2018
82534            ah muk Noodle      Shah Alam    5      5  2019

[189 rows x 10 columns]

From the output, there are 234 rows that are duplicates. Then, we need to remove them using the command line below.

In [86]:
# Remove the duplicated rows
df = df.drop_duplicates()

# Verify that the duplicates have been removed
print(df[df.duplicated()])

Empty DataFrame
Columns: [Author, Title, Review, Rating, Dates, Restaurant, Location, Day, Month, Year]
Index: []

In [87]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
82529,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019
82530,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
82531,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
82532,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
82533,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

In [88]:
df = df.reset_index()
df

,index,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...,...
82341,82529,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019
82342,82530,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
82343,82531,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
82344,82532,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
82345,82533,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

In [89]:
#Delete column 
df.drop('index', axis=1, inplace=True)
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

The output shows we successfully creates three new columns in the df DataFrame called Day, Month, and Year by splitting the Dates column on the space character.

#### Fix language inconsistency in review 

#### Detect and drop review that was not written in English

Here are a few reasons as for why we need to detect and drop review that was not written in English.

1. Language Consistency: This analysis focuses specifically on English text, removing non-English reviews ensures consistency.

2. Language Understanding: When performing text analysis tasks such as sentiment analysis, topic modeling, or natural language processing, it's crucial to work with text in a language that I understand. By removing non-English reviews, I can focus on analyzing and interpreting English text effectively.

3. Quality Control: Non-English reviews may introduce noise or errors in your analysis. By removing them, it can enhance the quality and accuracy of analysis results.

4. Target Audience: This analysis is targeted towards English-speaking users, it's essential to focus on their reviews to gain insights and make informed decisions that cater to their needs.

In [90]:
!pip install langdetect

Requirement already satisfied: langdetect in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from langdetect) (1.16.0)

In [91]:
from langdetect import detect

# Function to detect the language of a text
def detect_language(text):
    try:
        return detect(text)
    except:
        return 'Unknown'

# Apply language detection to the 'Review' column
df['Language'] = df['Review'].apply(detect_language)

In [92]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year,Language
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022,en
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022,en
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022,en
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022,en
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022,en
...,...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019,en
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019,en
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019,en
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018,en
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019,en

In [93]:
non_eng = df[df['Language'] != 'en']
print(non_eng['Review'])

764      Excelente lugar para disfrutar con familia y a...
2330     เมนูอาจจะดูว่าทั่วไป แต่รสชาดเป็นเอกลักษณ์มาก ...
3041     Start open early morning 7.30 am smpai 3pm ras...
3537     Ur have to try this restaurant. And I get memb...
3972     L’endroit est joli, atypique, on y boit des bi...
                               ...
81080    基本ﾏﾚｰｼｱのﾆｮﾆｬ料理ですが薬味がﾀｲという代わりだね｡おすすめはﾅｼﾚﾏですがﾒｲﾝ...
81081    おすすめはｱｼﾞのまるごとから揚げです｡ﾏﾚｰｼｱのｱｼﾞはｻﾊﾞみたいで臭みもあまりなくう...
81109    この間初めて行った骨肉茶レストラン。さすがにクランなので、バクテーは想像通りおいしかったです...
81314    Klangの町のほうにある有名なバクテー屋さんと同じ名前のお店ですが、こちらは”27H, J...
81434    ร้านนี้เป็นร้านขายเค้กใกล้ๆกับสถานีรถไฟ Klang ...
Name: Review, Length: 80, dtype: object

In [94]:
for index, row in non_eng.iterrows():
    print(f"Review ID: {index}")
    print(row['Review'])
    print("--------------------")

Review ID: 764
Excelente lugar para disfrutar con familia y amigos, esmerada atención, buen servicio y deliciosa comida entre las que destacan el codillo de cerdo, un rico salmón o un jugoso rib eye steak que puedes acompañar con las mejores cervezas naciones o importadas todo amenizado con música en vivo de martes a domingo.Tanto la mánager como su equipo se encargan de hacer de éste un lugar familiar y acogedor.Excellent place to enjoy with family and friends, careful attention, good service and delicious food among which the knuckle of pork, a rich salmon or a juicy rib eye steak that you can accompany with the best national or imported beers, all accompanied by music I live from Tuesday to Sunday.Both the lady manager and her team are responsible for making this a familiar and welcoming place.Show less
--------------------
Review ID: 2330
เมนูอาจจะดูว่าทั่วไป แต่รสชาดเป็นเอกลักษณ์มาก ผัดถั่วงอกและเมนูอื่นๆ อร่อยมาก ราคาไม่แพง
โดยรวมชอบมากค่ะ
 its normall menu look like the same but the taste is so specially and so delilous and not expensive .. I love Lou Wong
--------------------
Review ID: 3041
Start open early morning 7.30 am smpai 3pm rase nye.We arrived 8.20am tak ramai lg yg beratur klau dtg 9.15am mmg full panjang beratur.. Just call dia punye promoter terus dpt food, nk order pon xtaw , just tgok diorg bwl dlm tray mcm sedap just grab.. tp seronok ngan family o kwn2.. Pasal harge mmg kene spend more. Sbb mkn je tgok nk lg. Pastu byar hiihiihii pnjang bil nyeShow less
--------------------
Review ID: 3537
Ur have to try this restaurant. And I get members card!! If don't know this restaurant maybe lost ur life!!
この店行った方がいいよ！めちゃ上手い‼︎ 何回も行ってるからメンバーカードもらっちゃった！とにかく食ってみるべし！
--------------------
Review ID: 3972
L’endroit est joli, atypique, on y boit des bières Européennes, les photos/cadres ou peintures sont en adéquation avec le style du barShow less
--------------------
Review ID: 4005
Pelbagai Menu Yang Kami Sedia Daripada Masakan Ala Carte Sehingga Western. Selain Itu, Kami Menyediakan Makanan Yang Santai Seperti Roti Bakar.Show less
--------------------
Review ID: 4465
Pure Indian pure Vegetarian Punjabi food. We feel like home. Pure Indian sweet's like laddo, ras Mali,jalabi Best samosa. Pani puri. And many more.
--------------------
Review ID: 4670
Buffet breakfast di sini ada 4 kaunter, semuanya sedap, dari Malay kitchen, chinese, indian dan english breakfast.Semuanya sedap dan secukup rasa.Being entertained by a sweet waitress Malati is also .Sury will repeat againShow less
--------------------
Review ID: 4783
Makanan sedap, banyak pilihan dengan harga yang sangat affordable Services terbaik dan staff peramah Keep on your good work!!! Will come again soonShow less
--------------------
Review ID: 5223
Ibu Bapa saya terutamanya emak saya suka dengan makanan buffet di sini terutamanya Section untuk mee sup dan pencuci mulut. Condiments untuk setiap makanan juga lengkap. Staff yang peramah dan tidak lokek dengan senyuman especially staff yang menjaga area kami iaitu Miss Shankri . Overall , all the food and dining ambience was very nice and we had lots of fun . Cheers and keep the good work!Show less
--------------------
Review ID: 5433
Hai morning Nazrul Thankyou so much for your superbb best services last night ✨ memang puas hati sangat2 husband pun happy Takde kurang langsung tq so much again!! Ada rezeki confirm repeat lagi ! Dari 1st nak book package2 yg ditwarkan sampai lah dah habis dinner memang tiptop services en nazrul ni ✨❤️ Memang kalau rate per 10 i kasi 100/10 ❤️Show less
--------------------
Review ID: 5441
friendly stuff，tempat selesa dan sangat
romantic…地方很浪漫🌹服务员很亲切，环境是不错可以来尝试，可是要有心里准备食物只是还好罢了，不会去到很好吃就普普通通
--------------------
Review ID: 6527
Absolute Thai in JPO is a cozy restaurant. You may have to queue to get a seat during meal time. The queue could be long but so far I never experience queue more than 30 minutes.
--------------------
Review ID: 6952
Vivo 的mushroom soup很好喝 和我每次都会来 aeon big sutera mall 和 bukit indah吃，都必叫的 baked fish pasta 那个面，真的很不错。。还有他们的甜品，cheese cake也是很不错，带一点酸甜酸甜的。
--------------------
Review ID: 8053
平價位的日式韓式料理，泡菜鍋絕對好味道。為了驚天動地的火山拉麵特地前來。刺身絕對的新鮮，五星好評！日式和風 韓式泡菜 壽司拉麵便當 炒飯炒麵Show less
--------------------
Review ID: 8054
記得以前來的時候就很好吃。想念這家帶有不同層次感米飯的釜鍋飯，所以再次光臨，但剛好可能過年的關係，有些菜單上的食物not available。有點傷心，好想念釜鍋飯啊！點了三文魚刺身、海鮮小火鍋、鰻魚飯。刺身依然新鮮，但鰻魚飯比較一般。希望下次來還可以吃到我想吃的釜鍋飯！Show less
--------------------
Review ID: 8167
前菜とステーキをレアでいただきましたが、肉汁がこぼれでることなく最高の焼き加減でした。いい仕事をしていると思います。
--------------------
Review ID: 8168
鄰近大馬路邊，交通便利，有美味及可口的素食菜色，是新山及新加坡海關附近的便利用餐地點。附近街道每周六有夜市。也可以在附近旅店住宿，便利來往樂高樂園。Show less
--------------------
Review ID: 8203
卖给家人的酱油系列 很受欢迎。。。很多人问哪里找。。。味道很好。。。再追加货量时，吉隆坡只有卖1个口味的，很遗憾。。。幸好能托朋友下南马去。。。朋友买的手工护肤品最好用。。。什么敏感都好了。。。是个值得探索的好地方。is really a gem to be discovered!Show less
--------------------
Review ID: 8365
Delicious ikan bakar, sotong kangkung, sotong kering, cakoi rojak.. simple delicious street food.. dessert cold ci kang or ice jelly is a must..
--------------------
Review ID: 8372
个人口味，价格偏高，叫了果汁（标价rm10）可是来到的却是冲泡的，感觉好雷。食物中规中矩，适逢情人节的深夜，套餐都卖完了,就叫了份羊扒和pizza。正所谓期待越高，失望越大！食物的分量和品质真的不能和价格成正比。气氛还是不错滴Show less
--------------------
Review ID: 9355
All staff very friendly especially umi.. thx umi layan kami semua biarpon kami 1st time datang.. semua makanan sedap2.. overall is excellent.. will come again.Show less
--------------------
Review ID: 10504
Nice environment
Comfortable ambience
Excellent food love it
Good service
But next table abit noisy.
--------------------
Review ID: 15697
Branch Manager (Mr.Faroq) sangat friendly and helpful, makanan sedap-sedap, tempat selesa. Recommended.Show less
--------------------
Review ID: 16554
Super pizza done real italian style. Pasta al dente - perfect. Service friendly and efficient - all in all a great experience.
--------------------
Review ID: 16707
Good view, best hospitality from Cristina
Tq for taking care my little sister
Will come again
Bilik selesa dan adik adik saya suka mandi kolam
--------------------
Review ID: 20803
お買い物疲れの身体を潤しました。
テラスで飲めるパブ！
食事も美味しくサービスもとってもフレンドリーでした(^^)
Thank you Amrah and Veen who provides great service for us!!
--------------------
Review ID: 20932
女性友達とこのお店に訪れました。夜の10時まで夜景を撮るのに夢中で、食事処という所が多く閉まっていた時に、このお店を見つけました。入った瞬間に、ウェイターのDANISHさんがすぐに来てくれて席を案内してくれました！日曜日の夜11時過ぎということもあり、席は空いていました。お腹がすいていたのでマルゲリータとボロネーゼ、アルフレッド、リゾットと多めにを頼みました。いざ食べると、どれもこれも今まで食べてきたどのイタリアン料理よりも美味しかったです！特にチキンとチーズのアルフレッドは絶品でした！是非一度訪れてみてください！I visited this restaurant with my friends.In short, all staffs and dishes in this restaurant are very nice.This restaurant provide Italian foods.We can have standard foods and creative foods.My favorite one is ''Chicken and Cheese AlfredoYou should come here when you visit Kuala LumpurShow less
--------------------
Review ID: 22526
專誠找這在我們酒店附近的好評餐廳，果然冇錯。飲料我選鮮搾的西瓜汁（無加糖）, 先生則選了mocktail。成份是 lime & peppermint (both MYR 16!  入口礦泉水是 MYR 20啊。）選兩項餐Myr55起。前菜揀鷄肝及帶子。鷄肝配以西梅蓉。帶子則配以bell pepper及椰菜花 粒。

之後我們的主菜是羊方塊肉小米飯及欖油虎蝦意粉加上蝦乾碎提味，結帳時另外有10%service charge+6% tax!  不過付錢後有驚喜甜品。輭芝士朱古力碎及食評內的小白波。
--------------------
Review ID: 23683
日本からメールで予約しましたが、返事もすぐに来て簡単に予約出来ました。
当時は夕方から激しいスコールもあり予定より３０分以上も早く着きましたが、すでにテーブルはセットされていました。注文は英語メニューだったので、迷っていたら女性スタッフが自分のスマホでネットの料理写真を見せてくれたので、目的の料理を簡単に注文できました。食事が終わってタクシーを待っている間、２階のテラス席に連れてくれ、そこからライトアップされたKlタワーを見せてもらいました。帰りはみんなが見送ってくれました。pier12のスタッフ、店の雰囲気は最高です。もちろん料理は最高に美味しいかったです。
The services of Ms.Boby and other staffs are exellent!!

16.Dec.2017 T.M  Osaka, Japan
--------------------
Review ID: 24200
我来到了这家听说还不错 进了去我就点了2道菜和2个米饭。我跟他说一个咖喱 一个牛油咖喱。他就说OKOK马上来。结果上菜的时候却给我一样的食物！ 我来这里是想尝不一样的味道和美食。我跟他说哪里有人去餐馆点一样的食物去吃？ 合不合理？ 他说道：没有！是你自己做的选择！！ 我非常的生气！以为我是中国顾客 想欺骗手段来坑我！！我不介意吃你一餐1千1万 但你要礼貌而且清楚知道我是点了什么菜！和好吃。。你的食物很油而且不能比印度的咖喱好吃！简直天跟地的差别！ 我非常不建议你们去这家店吃。可以的话去 华人餐馆吃都不会坑你坑到那么无理。2道菜 要马币100 以上！！而且还是咖喱而已…… 华人餐馆120 可以四个人吃了 最起码3菜一汤的米饭评价：又贵又难吃服务： 超级烂#don’t tell me is there is any misunderstanding! I already inform any best way can solve but the staff just being rude and deny complaint. Show less
--------------------
Review ID: 26354
Good atmosphere  great costumer service
Best  quality fish!! I will definitely come back here !! One of the best fine dining omakase !!
空間、料理、スタッフのホスピタリティ
本当に素晴らしい経験をしました。
ただ料理が美味しいだけの店はいくらでもあります。
その中でどのような時間を過ごしたか
本当に大切なことはそこにあると思います。オススメのお店でした。
Sushi hibiki at fourseasons hotel in kl
--------------------
Review ID: 27620
Alom is amazing.

We have a very nice evening here. Delicious food.
Wir waren zu 100% zufrieden und Alom hat uns alles super erklärt
--------------------
Review ID: 31229
レストランとバーの両方を利用しました。素晴らしい眺め、美しく美味しいお料理にこのレストランのファンになりました。すべてのスタッフがとても親切でしたが、私たちのテーブルを担当したRIDZUANはとても気持ちの良いサービスでした。また、再訪したいと思っています。１つ上の階に専用エスカレーターで上がるとルーフトップバーも利用しました。多くの人がいて少し騒がしいものの開放感があり、夜景は最高でサービスも丁寧でした。バーはレストランより手頃な価格で夜景を楽しめます。I and my husband visited the restaurant.They provided the beautiful tasty food and night view was amazing!Everyone there were polite and very kind, Ridzuan who worked for us, his service was great!!We are now big fan of the restaurant!!Show less
--------------------
Review ID: 31621
Eat instant maggi kari mee 100 times better laaa. Never in my life taste nasi briyani as bad as yours. Disgusting.
--------------------
Review ID: 33224
Hello po ako po Joe torres first time po kami pumunta dito sa ReDYNASTY The Bar Restaurants. Ay si best friend ko po si lau nag recommend sakin para pumunta kami dito at sobrang sarap manga foods nila dito at hindi lang yun ah at grabe super relax at sobrang chill dito habang nag iinum kami nang beer with my all friends grabe guys super sarap mag relax dito uminum at kumain dito sa ReDYNASTY The Bar Restaurants sana yung manga friends ko sa Philippines punta po dito ah sa ReDYNASTY Malaysia at thank you so much to lau ay nag recommend para pumunta dito sa ReDYNASTY The Bar Restaurants Show less
--------------------
Review ID: 36342
Pehle to hum thoda soch soch k jaa rahe the par chao jab decide kar ke order kar diya aur khaana khaaya, " it was simply superb""".  Kualalmpur ka best indian veg food...
Vegetarian must go there...
--------------------
Review ID: 43792
You can get most of Pantai Timur / Patani foods here.. Nasi kerabu, nasi minyak, pulut mango , and many more.
Nice place to lepak2
--------------------
Review ID: 44216
食物很好吃和服務非常好尢其是Ke Ying, Shu Dian,Ze Hong,Riyad,Chee Yang的服務.牛排和蘑菇湯啊非常好吃.我一定會在三月的時候回來.環境很好很干淨.服務周道.
--------------------
Review ID: 48215
こちらで食べたall day breakfastは本物の日本の味が再現されていて感動しました。とても香りの良い味噌汁とふっくらしたご飯がとてもマレーシアで食べているとは感じられずまた食べに来たいと思いました。とてもオススメです。

I got All day breakfast in Sakana. It was gorgeous taste like Authentic Japanese one.
If you wanna feel what Japanese food is then why dont you order from SAKANA.
--------------------
Review ID: 49821
- nasi lemak totally sedap ! - lontong that u guys must try ! I can promise u it was delish !- kedai selalu ramai org pg2- lau x silap isnin ttp - very easy nk cari sbb kedai tepi jln je boleh nmpk- trust me u will make a comeback !Show less
--------------------
Review ID: 50134
Anak muda, tak kira kerja dimana, KLCC ka, kampung Baru ke, bila masak tu buat lah dengan berahi dan bersemangat. A chef’s work is not that difficult but you need a tremendous amount of passion. It was clear from the Chicken Chop I ordered, the passion was missing Show less
--------------------
Review ID: 54362
Terletak di pinggir jalan dim sumnya enak kopinya kurang bakpaonya besar sehingga satu bisa buat dua orang.
--------------------
Review ID: 54384
Das Cafe gehört zum Meritin Hotel, ist aber öffentlich und für jeden zugänglich. Besonders gut ist das Frühstücksangebot. Man kann wählen zwischen asiatisch, english, american und continental. Dabei gibt es unlimitiert Kaffe für 15MYR. Wir waren Gäste des Hotels und fanden den netten Service ausgezeichnet und würden wiederkommen. Show less
--------------------
Review ID: 54390
Sama Jaya工業団地から近い、Giantスーパーの近くにある店です。レストランは屋台式で、RM10前後で手軽にドイツ料理が食べられます。レストランの向かい側にオフィスがあり、ソーセージが買えます。ドイツ人がこだわりを持って食材を取り寄せて作っているので、本格的なドイツの味です。旅行で行くにはちょっと中心地から離れすぎていますが、工業団地などへの出張の方なら立ち寄れるでしょう。Show less
--------------------
Review ID: 54459
個人的にサラワクラクサが大好きなのですが、ここにあるAlfred Laksaが一番美味しい気がします！サイズは2つあります。濃厚ですがとても繊細で胃もたれしないスープ、トッピングも綺麗にされています。Show less
--------------------
Review ID: 55398
很好吃，下次还会去光顾 good service,  nice place,  会介绍周围的朋友去光顾。各种菜色都合我的味口，价钱不会太贵，在langkawi 3 天2 夜共去了2 天😂😂😂 , 谢谢你们的招待
--------------------
Review ID: 57639
Hyvää korealaista ruokaa ystävällisesti tarjoiltuna. Annokset riittäisivät hyvin jaettaviksi.
Very good real Korean food and a friendly staff. After dining for sure you aint hungry anymore.
--------------------
Review ID: 57862
중심가에 있고 눈에 띄는 간판으로 인기가 많은 집입니다. 프랑스의 크레페 전문점만큼 간식용(달콤), 식사용(짭짤) 두 가지 모두 다양한 메뉴 셀렉션을 갖추고 있으며, 음료도 모두 맛있습니다. 여느 크레페리와 같이 주문 후 바로 만들어주는데, 테이블 수가 한정되어 있기 때문에 오래 기다리지 않아도 금방 음식을 먹을 수 있어 좋습니다. 세 번 방문했는데 항상 맛있었습니다. 메뉴판에 사진이 있어 고르기 쉽고, 주문받는 직원도 친절합니다. 단, 랑카위 물가에 비해 저렴한 가격은 아닙니다. 주중에 쉬는 날이 있으니 미리 꼭 확인하고 가세요.Show less
--------------------
Review ID: 58411
宿泊したメランダペリンギリゾートホテルにて、ランチで訪問。
価格は、日本で食べるレストランのランチと同じくらいの価格でしたが、最高のロケーション、雰囲気で、とても気持ちよく美味しいランチを食べることができました！近くに行かれる方には是非オススメです😁

Great value, great food, great location, absolutely reccomend to anyone going around lankawi.
--------------------
Review ID: 58457
特別な日だったのでロマンティックディナーで予約しました。海沿いに席がセットされていて景色が最高です！ご飯も美味しくて素敵な時間を過ごせました！every thing is good! About awesome! All guys!
Murphy , abu, ikmmal
--------------------
Review ID: 60872
ランカウイ滞在中トリップアドバイザーを見て3日間毎日通いました。
料理はどれも美味しく、安く、スタッフもとても気持ち良い接客でした。
顔まで覚えて下さり、日本人に好まれる味付けや量の提案等もして下さいました。もし、ランカウイに行く事があれば、一度は行ってみる価値有り‼︎
夜のみ営業の様で、毎晩混んで居ます。
ちなみにお店の右手側に手を洗える場所もあります。

This place is absolutely popular and delicious. We have been 3 times while we were in Langkawi.
Food is affordable, staff is friendly and great service.
Hope to go back again!
--------------------
Review ID: 62353
今天我和朋友家人长辈总共7个人在晚上9点多来这个地方打算看风景放松心情。在我们从电梯里出来要转进去这个餐厅的时候（基本上是在电梯外面），一位马来招待员走过来双手打开把我们挡住。 她说：“why are you here?”虽然当下觉得很奇怪，可是我们还是回答她说：“we are here for the sky bar”. 她：“is anyone of u going to buy at least one drink?” （她是用手指着我们说这一句话，我是慢半拍的人，当下也可以感受到她的不友善和瞧不起人的态度）当下的我们也来不及反应，也因为我们没有看到菜单，也不懂里面到底有什么可以吃还是喝的，而且我们当下也不是每个人都可以喝酒。我们和她说“no...”她：“you all minimum have to buy at least one drink then only can enter.”然后她就直接把我们晾在一边，完全没有要招待我们的意思。我们当下是很惊讶也不懂为什么她会这样对我们 我们每个人都很失望不能进去这个点评不错的地方。给管理层的建议，食物再好，服务员的素质也是很重要。 就算我们当下进去了这个餐厅，有这样的服务员，呈上的食物再好也是会被扣分！最重要的是，这个服务员表现出这个餐厅只服务喝酒消费的人。其他喝果汁饮料吃东西看风景的顾客就滚一边？真的要好好检讨一下！Show less
--------------------
Review ID: 66008
🔥马六甲長美號咖啡厅/ CHOP TIANG BEE 🔥
Are You Ready For The Holiday Season in Melaka, Malaysia ?
来马六甲必品尝長美號娘惹风味料理。
集合了以下特点
创新娘惹料理☜
传统娘惹料理☜
自制各式芝士蛋糕☜
香浓咖啡与特色饮料☜
在这古色古香的屋檐下与亲朋好友品尝道地的娘惹美食，可说是一件幸福的事。。
#MELAKANYONYACUISINE
#MELAKANYONYAFUSIONCUISINE
#马六甲娘惹创新咖啡厅
#VISITMELAKA
#VISITCHOPTIANGBEECAFE
#JONKERWALKMELAKA
--------------------
Review ID: 66592
Overall good experience
Order 1 ikan pari set, 1 ikan kembong set and one telur ikan plus 3 drinks less than RM50..
Nice asam pedas
--------------------
Review ID: 67100
Harga okay. Boleh masak based on our demand. Since last visit dengan family, ada yang tanak pedas, kurang pedas dan pedas. Well done. Recommended to try chicken or beef briyani
--------------------
Review ID: 68315
「Riviera Pulau Melaka City」という名のモールの中心部、噴水前に店がある。マラッカ名物のチキンライスボールはRM5.9、通常のチキンライスがRM5.4と、高級仕様のモールの一等地にある店としては非常にリーズナブルな価格設定。Show less
--------------------
Review ID: 69062
在外面能欣赏那优雅美丽的风景和餐厅里面的风格加上美丽的和亲切的服务员。。。这里的价钱非常公道，在这里也能吃到日本进口的和牛。。。那日本和牛太棒了入口溶化，太好吃了。。我给她们四个赞赞赞赞。。。这里也有卖不一样的红酒，我一定会到回来这里的
--------------------
Review ID: 69894
Best customer service, great live band and great vibe! Never felt so alive before! Drink drink and drink!
--------------------
Review ID: 70166
Thankyou Esther for the nice services.she is friendly and even explain every single of the good to us! Nice environment and good food especially the appetiser! Ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha haha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha ha hah ha ha ha ha ha ha ha ha ha ha ha haShow less
--------------------
Review ID: 70534
12月24日クリスマスイブに主人と2人で事前に予約して行きました。予約したにも関わらず、ドアが椅子にあたるんですけど？という席。クリスマスだから混んでるし仕方ないか。と諦め着席。サラダ、ステーキ、ボロネーゼパスタ、ワインをボトルで注文しました。サラダは間違ったオーダーが届き、勿体ないからOKと言いました。万が一、会計時にそのままのオーダーだったら指摘しよう、と思っていましたら、その後4回もミスオーダーがありました（頼んでもいない物がどんどん届く）。
またパスタは、やわやわ茹で過ぎ、麺が水っぽいという、何ともお粗末なものでした。
会計時、気をつけてレシートをチェックしなければと思っておりましたが、案の定、間違ったオーダーが２つ載っており、サラダも間違っていました。間違いを指摘し、請求を直している間に、また5回目の頼んでもいない注文を持って来たので、流石にキレました…
謝りもしない店員、本当に酷い店です。何度も海外旅行をしておりますが、こんなに酷いレストランは初めてです。クリスマスが台無しです。何故、こんなに評価が高いのかわかりません。絶対に評価に騙されないでください！

It is a terrible restaurant full of mistakes and does not apologize.  Don't be fooled by the evaluation!
--------------------
Review ID: 71112
餐廳位於Seven Terraces酒店裡，氣氛很好，裝潢很漂亮，服務員也很親切，對應也很迅速。食物味道很好，無論前菜、主菜、甜品都很出色，也很有特色，非常喜歡它們的咖喱蝦和魚，甜品的Pana Cotta也令我很驚艷，讓第一次吃娘惹菜的我對娘惹菜另眼相看。
--------------------
Review ID: 72360
락사는 페낭에서만 맛볼수 있는 특이한 음식이죠. 다른사람들 리뷰를 보면 마치 참치김치찌게와 비슷하다하는데 정말 그말이 딱 맞아요. 하지만 민트가 들어가서 야채를 씹다보면 갑자기 민트향이 훅 올라옵니다. (저는 민트를 좋아해서 맛있게 먹었습니다.) 면발은 탱글탱글 한게 정말 식감이 좋았습니다.사장님이 너무 친절하고 늘 웃는 모습이어서 저절로 기분이 좋아지는 식당이었습니다.페낭 간다면 꼭 락사를 드셔보세요!! 강추!Laksa is unique in Penang. The taste is similar to Korean food Kimchi stew. The main menu has only one Laksa. They sell several kinds of drinks. The boss is very friendly and always smiling to make you feel good.Show less
--------------------
Review ID: 74537
First time visit US pizza. This shop have special pizza flavours such as cempedak pizza and durian pizza. I've ordered durian pizza and one classic chicken pizza
--------------------
Review ID: 75450
Nice service, nice environment, quiet environment....fast service... Pastry taste good............dessert taste good
--------------------
Review ID: 75577
This is the best place to just sit down & chillax while sipping on the best drinks in town😋
Hahaaaaaahaaaaaaaaaaaaa!!!!!
Sooooooo happpppppyyyyyy tooooo beeeeeeeee herrrrrrrreeeeeee 💃🏼💃🏼💃🏼💃🏼
--------------------
Review ID: 77528
Nice environment
Comfortable ambience
Excellent food love it
Good service
But next table abit noisy.
--------------------
Review ID: 77679
Sangat puas hati dengan makanan, environment dan of course staff yang sangat friendly. Tenkiu Kalpana, mustaffa, andy, Teja, Shahrul, Azlina, Rohini, Linda, dan Akma.

Keep it up
--------------------
Review ID: 78360
Seri Kenangan Kota Samarahan Sarawak Malaysia.Place for family gathering fun with kids and barbecues during evening.
--------------------
Review ID: 80135
Very good services from all Paya Serai amazing staffs:linda,shaz,kaldana,rizal,rohini,mei lan,sapiah,jega and zharif
--------------------
Review ID: 80170
Sangat puas hati dengan makanan, environment dan of course staff yang sangat friendly. Tenkiu Kalpana, mustaffa, andy, Teja, Shahrul, Azlina, Rohini, Linda, dan Akma.

Keep it up
--------------------
Review ID: 81038
Пишу отзыв на Трипадвизоре по этому кафе первым. Местечко впечатлило своей оригинальностью. Получаются интересные и необычные фотографии. Что касается меню - в основном напитки, десертов нет. Отдельно отмечу, что мы были первыми посетителями, но в кафе было грязно. Столики в пятнах каких то напитков, пол грязный. В один из двух туалетов просто противно входить. Далековато добираться. Из центра мы ехали на такси почти сорок минут. Кафе рекомендую только для фотосессий. Покушать - не сюда. Если мой отзыв был полезен - ставьте пальчик вверхShow less
--------------------
Review ID: 81044
店家用了些心思裝飾店舖，不會如連鎖店般千篇一律，飲品價格也相當合宜，在外頭炎熱天氣之下，在這裡稍坐避暑也很好。Show less
--------------------
Review ID: 81047
スルタン・アブドゥル・アジズ・シャー空港の近くにあるシーフードレストラン。どのメニューも美味しく大変満足出来ました！美味しいのに並ばずに入れる穴場的なレストランだと思います。おすすめ！Show less
--------------------
Review ID: 81079
Kedah's food here taste good. 'Bihun Sup Kuning', Laksa, Nasi Lemak Royale, cucoq udang kuah kacang, mee goreng udang. Must try all.
--------------------
Review ID: 81080
基本ﾏﾚｰｼｱのﾆｮﾆｬ料理ですが薬味がﾀｲという代わりだね｡おすすめはﾅｼﾚﾏですがﾒｲﾝの鶏肉の味付けがﾏﾚｰｼｱとﾀｲの中間｡おもろいShow less
--------------------
Review ID: 81081
おすすめはｱｼﾞのまるごとから揚げです｡ﾏﾚｰｼｱのｱｼﾞはｻﾊﾞみたいで臭みもあまりなくうまい｡うんわるく内臓がのこっていたら ﾏﾚｰｼｱしょうゆで味をごまかしましょうShow less
--------------------
Review ID: 81109

In [95]:
pip install googletrans==4.0.0-rc1

Requirement already satisfied: googletrans==4.0.0-rc1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: certifi in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Requirement already satisfied: hstspreload in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.1.1)
Requirement already satisfied: sniffio in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.0)
Requirement already satisfied: chardet==3.* in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: idna==2.* in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)
Note: you may need to restart the kernel to use updated packages.

In [96]:
from googletrans import Translator

def translate_to_english(text):
    translator = Translator()
    try:
        translation = translator.translate(text, dest='en')
        if translation is not None:
            return translation.text
        else:
            return ''
    except Exception as e:
        print(f"Translation Error: {e}")
        return ''


# Create a copy of the non_english_reviews DataFrame
non_eng_copy = non_eng.copy()

# Apply translation to the 'Review' column in the copy DataFrame
non_eng_copy['Translated_Review'] = non_eng_copy['Review'].apply(translate_to_english)

# Display the translated reviews
print(non_eng_copy['Translated_Review'])

764      Excellent place to enjoy family and friends, c...
2330     The menu may see that it is general.But the ta...
3041     Start open early morning 7.30 am smpai 3pm ras...
3537     UR HAVE TRY THIS RESTAURANT. And I Get Members...
3972     The place is pretty, atypical, we drink Europe...
                               ...
81080    It is a basic grassy cuisine, but the condimen...
81081    The recommendation is fried from the whole of ...
81109    The first bone flesh tea restaurant I went to ...
81314    It is a shop with the same name as the famous ...
81434    This shop is a cake shop near the KLANG train ...
Name: Translated_Review, Length: 80, dtype: object

In [97]:
for index, row in non_eng_copy.iterrows():
    print(f"Review ID: {index}")
    print(row['Translated_Review'])
    print("--------------------")

Review ID: 764
Excellent place to enjoy family and friends, careful attention, good service and delicious food among which pork elbbows, a rich salmon or a juicy riby steak that you can accompany with the best nations or imported beers are all enlivened with music in music inI live from Tuesday to Sunday. Tanto the manager as her team are in charge of making this a family and cozy place. Excellent place to enjoy with family and friends, Careful Attention, Good Service and Delicious Food Among Which The Knuckle of Pork, A RichSalmon or A Juicy Rib Eye Steak That You Can Accompany With The Best National Or I Right Beers, All Accompanied by Music I Live From Tuesday to Sunday.Both The Lady Manager and Her Team Are Responsible For Making This A Familiar and Welcoming Place.show Less
--------------------
Review ID: 2330
The menu may see that it is general.But the taste is very uniqueStir fried bean sprouts and other menus. Very tasty, inexpensive.
Overall I like it very much.
 Its Normall Menu Look Like The Same But The Taste is So Special and So Delilous and Not Expensive .. I Love Lou Wong
--------------------
Review ID: 3041
Start open early morning 7.30 am smpai 3pm rase nye.we arrived 8.20am not many people in line with 9.15am mmg full long lining .. just call him promoter continues to food, nk order pon xtaw, just tgok diorg bwl in traymcm tasty just grab .. but not fun with family o kwn2 .. about harge mmg here spend more.As it is not.Definitely byar hiihiihii pnjang bil nyeshow less
--------------------
Review ID: 3537
UR HAVE TRY THIS RESTAURANT. And I Get Members Card !! IF DON'T Know Restaurant MAYBE LOST UR LIFE !!
You should go to this store!It's really good︎ I've been there many times, so I got a member card!You should try it anyway!
--------------------
Review ID: 3972
The place is pretty, atypical, we drink European beers, photos/frames or paintings are in line with the style of Barshow Less
--------------------
Review ID: 4005
Various menus we have available from Carte to Western cooking.In addition, we provide relaxing foods such as toast.Show Less
--------------------
Review ID: 4465
Pure Indian pure Vegetarian Punjabi food. We feel like home. Pure Indian sweets like laddu, rasMalai,jalebi Best samosa. Pani puri. And many more.
--------------------
Review ID: 4670
Buffet breakfast here has 4 counters, all delicious, from Malay kitchen, chinese, indian and english breakfast.
--------------------
Review ID: 4783
Delicious food, there are many choices with a very affordable price of the best and staff of Keep on your good work !!!Will come again soonshow less
--------------------
Review ID: 5223
My parents especially my mom like buffet food here especially section for noodles and desserts.Condiments for each meal are also complete.The friendly and unassuming staff with a smile especially the staff guarding our area, Miss Shankri.Overall, all the food and dining ambience was very nice and we had lots of fun.Cheers and Keep the Good Work! Show Less
--------------------
Review ID: 5433
Hi Morning Nazrul Tanankyou so much for your superbb best services last night ✨ is very satisfied with Husband even happy takde not directly tq so much again !!There is a sustenance confirm repeat again!From the 1st son, book package2 that was offers until it was finished dinner.
--------------------
Review ID: 5441
Friendly Stuff, TMPAT SELESA DAN SANGAT
Romantic ... The place is very romantic. The waiter is very kind. The environment is good to try, but if you have to prepare food in your heart, it's okay.
--------------------
Review ID: 6527
Absolute Thai in JPO is a cozy restaurant. You may have to queue to get a seat during meal time. The queue could be long but so far I never experience queue more than 30 minutes.
--------------------
Review ID: 6952
Vivo's Mushroom Soup is delicious and I will eat Aeon Big Sutera Mall and Bukit Indah every time. Both the Baked Fish Pasta noodles that must be called are really good.EssenceAnd their desserts, Cheese Cake is also very good, with a little sweet and sour.
--------------------
Review ID: 8053
The cheap Japanese -style Korean cuisine, the kimchi pot is absolutely good.In order to shock the volcanic ramen.The sashimi is absolutely fresh, five -star praise!Japanese style and wind Korean kimchi sushi ramen bento bento fried noodles SHOW Less
--------------------
Review ID: 8054
I remember it was delicious when I came.Missing this pot of rice with different levels of rice, so it comes again, but it is like a relationship of the New Year, some foods on the menu NOT Available.A little sad, miss the pot rice rice!Ordered salmon sashimi, seafood hot pot, eel rice.The sashimi is still fresh, but eel rice is more average.I hope you can eat the pot rice I want to eat next time!Show less
--------------------
Review ID: 8167
I had an appetizer and a steak at rare, but it was the best baking without spilling the gravy.I think I'm doing a good job.
--------------------
Review ID: 8168
Near the roadside roads, convenient transportation, delicious and delicious vegetarian dishes are convenient meal sites near Johor Bahru and Singapore Customs.There are night markets nearby on the streets nearby.You can also stay in a nearby hotel to facilitate the LEGO Paradise.Show less
--------------------
Review ID: 8203
The soy sauce series sold to the family is very popular.EssenceEssenceMany people ask where to find.EssenceEssencetaste good.EssenceEssenceWhen adding the amount of goods, Kuala Lumpur only sells one flavor, but it is a pity.EssenceEssenceFortunately, you can ask friends to go down to the South Malaysia.EssenceEssenceIt is best to use handmade skin care products for friends.EssenceEssenceEveryone is good.EssenceEssenceIt is a good place worth exploring.is Really a Gem to be discodered! Show less
--------------------
Review ID: 8365
Delicious grilled fish, water spinach, dry cuttlefish, cakoi rojak .. simple delicious street food .. dessert cold cang or ice jelly is a must ...
--------------------
Review ID: 8372
Personal taste, high price, called fruit juice (price RM10), but it came to the brewing, it felt good.The food is quite satisfactory, and in the late night of Valentine's Day, the package is sold out, and she called sheep picking and pizza.The higher the so -called expectation, the greater the disappointment!The weight and quality of food cannot be directly proportional to the price.The atmosphere is still good show less
--------------------
Review ID: 9355
All staff very friendly especially Umi .. Thx Umi treats us all let us 1st time come .. All food is delicious .. Overall is excellent .. Will come again.Show Less
--------------------
Review ID: 10504
Nice environment
Comfortable ambience
Excellent food love it
Good service
But next table abit noisy.
--------------------
Review ID: 15697
Branch Manager (Mr.Faroq) is very friendly and helpful, delicious food, comfortable place.Recommended.Show Less
--------------------
Review ID: 16554
Super pizza done real italian style. Pasta al dente - perfect. Service friendly and efficient - all in all a great experience.
--------------------
Review ID: 16707
Good View, Best Hospitality From Cristina
Tq for taking care my little sister
Will come again
Comfortable room and my little sister love pool bath
--------------------
Review ID: 20803
I moistened my tired body.
A pub that can be drunk on the terrace!
The food was delicious and the service was very friendly (^^)
Thank You AMRAH and VEEN WEEN WHO PROVIDES GREAT SERVICE for US !!
--------------------
Review ID: 20932
I visited this shop with a female friend.I was crazy about taking a night view until 10 o'clock, and when there were many places called restaurants, I found this shop.At the moment I entered, the waiter Danish came immediately and guided me to my seat!The seats were vacant because it was past 11:00 on Sunday night.I was hungry, so I asked for a lot of Margherita, Bolognese, Alfred, Risotto.When I ate it, all of them were more delicious than any Italian food I've ever eaten!Especially the chicken and cheese Alfred were exquisite!Please visit it once!I Visited the Restaurant with My Friends.in Short, All Staffs and Dishes in This Restaurant Are. Have Standard Foods and Creative Foods.my Favorite One is '' '' CHICKEN and CHEESE ALFREDOYOU SHOULD COULD COULD COULD COULD COULD COULD COULD some someureWhen You Visit Kuala Lumpurshow Less
--------------------
Review ID: 22526
It is really wrong to find this praise restaurant near our hotel.I chose freshly squeezed watermelon juice (without sugar), and Mr. chose Mocktail.The ingredient is Lime & Peppermint (Both MYR 16! Entry mineral water is MYR 20.) Select two meals from 55 meals.Pick chicken liver and strap in front dish.Chicken liver with Xi Meirong.The band is equipped with Bell Pepper and broccoli.

After that, our main cuisine was sheep's pieces of meat, rice rice, and sipy oil and shrimp powder with dried shrimp. At the time of checkout, there were another 10% Service Charge+6% TAX! However, there were surprise desserts after paying.碎Staches of cheese chocolate and small white waves in food reviews.
--------------------
Review ID: 23683
I made an appointment from Japan by e -mail, but the reply came immediately and I was able to make an easy reservation.
At that time, there was a fierce squall from the evening, and we arrived more than 30 minutes earlier than planned, but the table was already set.The order was an English menu, so if I was at a loss, the female staff showed me a cooking photo on the Internet on my smartphone, so I could easily order the target dish.While waiting for a taxi after the meal, I took him to the terrace seat on the second floor, and showed me the KL tower lit up.On the way back, everyone did it off.The atmosphere of the Pier12 staff and the store is the best.Of course, the food was really delicious.
The Services of Ms.boby and Other Staffs Are EXELLENT !!

16.dec.2017 T.M OSAKA, Japan
--------------------
Review ID: 24200
I came to this one and heard that it was pretty good and went to me to order 2 dishes and 2 rice.I told him a curry and a butter curry.He said Okok came right away.As a result, I gave me the same food when I was serving!I came here to taste a different taste and food.I told him where someone went to the restaurant to order food to eat?Unreasonable?He said: No!It's your choice!IntersectionI am very angry!I thought I was a Chinese customer who wanted to deceive me to pit me!IntersectionI don't mind eating you a meal of 10 million, but you have to be polite and know what I have ordered!With delicious.EssenceYour food is oily and cannot be delicious than Indian curry!The difference between heaven and earth!I don't recommend you to go to this shop to eat.If you can, you will not be so unreasonable when you go to the Chinese restaurant to eat.2 dishes are more than 100 or more!IntersectionAnd it's just curry ... Chinese restaurants 120 can eat at least 3 dishes and one soup. Rice evaluation: expensive and unpalatable service: super rotten #don't me is there any mothertnding!Way Can Solve But the Staff Just Being Rude and Deny Complaint. Show Less
--------------------
Review ID: 26354
Good atmosphere Great Costumer Service
Best Quality Fish !! I will Definitely Come Back here !! One of the best fin dining makase !!
Space, cooking, staff hospitality
I had a really wonderful experience.
There are many restaurants that are just delicious.
What kind of time did you spend?
I think there is really important thing.It was a recommended shop.
SUSHI HIBIKI AT FOURSEASONS HOTEL in KL
--------------------
Review ID: 27620
Alom is amazing.

We have a very nice evening here.Delicious Food.
We were 100% satisfied and Alom explained everything to us great
--------------------
Review ID: 31229
I used both restaurants and bars.I became a fan of this restaurant for a wonderful view, beautiful and delicious food.All staff were very kind, but RIDZUAN, who was in charge of our table, was a very pleasant service.I also want to revisit.When I went up with a dedicated escalator on the upper floor, I also used the roof top bar.There were many people and a little noisy, but there was a sense of openness, the night view was the best and the service was polite.The bar can enjoy the night view at a reasonable price than the restaurant.I And My Husband Visited The Restaurant The Beautiful Tastiful Food and Night View Was Was Amazing! Everyone Tere Polite and Very Kind, Rid Zuan Who Worked for US, His Service Was Great !! We are now Big Fan of the Restaurant !!Show Less
--------------------
Review ID: 31621
Eat instant maggi kari mee 100 times better laaa. Never in my life taste nasi briyani as bad as yours. Disgusting.
--------------------
Review ID: 33224
Hello I'm Joe Torres first time we came here to Redynasty The Bar Restaurants.My best friend Lau recommends me so we can come here and they are so good at their food and not just ah and it is super super relaxed and super chill here as we drink beer with my all friends serious guys super good magRelax here drink and eat here at Redynasty The Bar Restaurants I hope my manga friends in the Philippines come here to Redynasty Malaysia and thank you so much to Lau has recommended to come here to Redynasty The Bar Restaurants Show Less
--------------------
Review ID: 36342
Pehle to hum thoda soch soch k jaa rahe the par chao jab decide kar ke order kar diya aur khaana khaaya, "it was simply superb" "".Kualalmpur ka Best Indian Veg Food ...
Vegetarian must go there ...
--------------------
Review ID: 43792
You can get most of the East Coast / Patani Foods here ... Gray rice, rice oil, pulut mango, and many more.
Nice Place to Lepak2
--------------------
Review ID: 44216
The food is delicious and the service is very good, especially the service of KE Ying, shu dian, ze hong, riyad, chee yang. Steak and mushroom soup are very delicious. I will definitely come back in March. The environment is very good and clean.. Services.
--------------------
Review ID: 48215
The All Day Breakfast I ate here was impressive because the real Japanese taste was reproduced.I didn't feel like eating very fragrant miso soup and plump rice in Malaysia, so I wanted to come to eat again.It is highly recommended.

I Got All Day Breakfast in Sakana. It Was Gorgeous Taste Like Authentic Japan One.
IF YOU WANNA FEEL WHAT JAPANESE FOOD IS THEN WHY DONT YOU ORDER from SAKANA.
--------------------
Review ID: 49821
- Fat rice is totally delicious!- Lontong that u guys must try!I can promise u it was delish!
--------------------
Review ID: 50134
Young people, no matter where they work, KLCC, New Village, when cooked, do it with passion and enthusiasm.A chef’s work is not that difficult but you need a tremendous amount of passion.It was clear from the chicken chop i ordered, the passion was missing show less
--------------------
Review ID: 54362
Located on the edge of the dim sum road, the coffee is lacking in the amount of the amount so that one can make two people.
--------------------
Review ID: 54384
The Cafe belongs to the Meritin Hotel, but is public and accessible to everyone.The breakfast offer is particularly good.You can choose between Asian, English, American and Continental.There is coffee for 15myr.We were guests of the hotel and found the nice service and would come back.Show Less
--------------------
Review ID: 54390
It is a store near GIANT supermarket near SAMA JAYA Industrial Park.The restaurant is a stall style, and you can easily eat German food around RM10.There is an office opposite the restaurant and you can buy sausages.It is a full -fledged German taste because Germans order and make ingredients with their commitment.It's a bit too far away from the center to travel, but if you are on a business trip to an industrial park, you will be able to drop in.Show Less
--------------------
Review ID: 54459
I personally love Sarawakusa, but I feel the Alfred Laksa here is the most delicious!There are two sizes.It is rich but very delicate, does not lean on the stomach, and the toppings are also beautiful.Show Less
--------------------
Review ID: 55398
It's delicious, and next time I will patronize Good Service, Nice Place, I will introduce friends around them to patronize.All kinds of dishes are in my taste, the price will not be too expensive. I went to Langkawi for 3 days and 2 nights for 2 days. Thank you for your hospitality
--------------------
Review ID: 57639
Good Chinese food kindly served.The doses are good enough to share.
Very Good Real Korean Food and A Friendly Staff.After dining for surre you ain hungry anymore.
--------------------
Review ID: 57862
It is a popular house in the center and is a prominent signboard.Both snacks (sweet) and meals (salty) are equipped with a variety of menu selections as well as crepe specialty stores in France.It is made immediately after ordering like any crepe, but the number of tables is limited, so you can eat food quickly without waiting for a long time.I visited three times and it was always delicious.There is a picture on the menu, making it easy to choose, and the employees who are ordered are also kind.However, it is not cheaper than Lang Kawi.There is a day off on the week, so be sure to check in advance.
--------------------
Review ID: 58411
Visit lunch at Melanda Pelin Glow Resort Hotel where I stayed.
The price was about the same price as a restaurant lunch in Japan, but I was able to eat a very pleasant and delicious lunch in the best location and atmosphere!It is highly recommended for those who go nearby.

GREAT VALUE, GREAT FOOD, GREAT LOCATION, Absolutely Reccomend to Anyone Going Around Lankawi.
--------------------
Review ID: 58457
It was a special day, so I made a reservation at romantic dinner.The seats are set by the sea and the scenery is the best!The rice was delicious and I had a wonderful time!Every Thing is Good! ABOUT AWESOME! All Guys!
Murphy, abu, IKmmal
--------------------
Review ID: 60872
I went to the trip advisor during my stay in Langkawi and went every day for three days.
All the dishes were delicious, cheap, and the staff was very pleasant.
He remembered his face, and also suggested the seasoning and quantity preferred by Japanese people.If you go to Langkawi, it's worth going once.︎
It looks like it is open only at night and is crowded every night.
By the way, there is a place where you can wash your hands on the right hand side of the shop.

THIS PLACE Is Absolutely Popular and Delicious. We have BEEN 3 Times While I in Langkawi.
FOOD Is AFFORDABLE, STAFF is Friendly and Great Service.
Hope to go back Again!
--------------------
Review ID: 62353

In [98]:
# Transfer the translated reviews to the 'Review' column in the original dataframe
df.loc[non_eng_copy.index, 'Review'] = non_eng_copy['Translated_Review']

In [99]:
#Display the value in the 'Review' column of the df dataframe at index 4 
df['Review'].loc[81434]

'This shop is a cake shop near the KLANG train station. There are many types of cakes.And a bottle of drink for eating with good taste cakes, not very expensive'

In [100]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year,Language
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022,en
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022,en
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022,en
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022,en
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022,en
...,...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019,en
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019,en
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019,en
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018,en
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019,en

In [101]:
df.drop('Language', axis=1, inplace=True)

In [102]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

df.to_csv (r'C:\\Users\\User\\PartOne_Review.csv', index = False, header=True)