# Python Libraries

In [1]:
#data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
#text pre processing and cleaning
import neattext.functions as nfx

In [2]:
#Loading Part One
df = pd.read_csv('PartOne_Review.csv',  encoding = "UTF8")

In [3]:
df

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022
...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019

# Text cleaning

Text cleaning is a crucial step in both text analysis and natural language processing. This step is essential since the raw text data may have many types of noise or meaningless data, such as stop words, special characters, numbers, and punctuation. 

Text cleaning were done to avoid from negatively impact the accuracy and quality of the analysis or machine learning model in order to obtain useful insights and make accurate predictions.

In [4]:
df2 = df.copy()

In [5]:
#To review the column in df2
print(df2.columns.values)

['Author' 'Title' 'Review' 'Rating' 'Dates' 'Restaurant' 'Location' 'Day'
 'Month' 'Year']

In [6]:
#Methods and attribute existed in nfx libraries
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_accents',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'unicodedata',
 'word_freq',
 'word_length_freq']

In [7]:
# Overview of the customers' reviews 
df2['Review']

0        Dinner here at Cuisines Restaurant was good. T...
1        Like the environment so much, we stay in block...
2        Had such a great candlelight 4 course meal in ...
3        Totally disappointed with the buffet spread wh...
4        It’s was a wonderful experience. The 4 course ...
                               ...
82341    Have not been in Taipan neighbourhood for some...
82342    really like the coffee here the cold dog chang...
82343    Must absolutely try the doi chang coffee uniqu...
82344    Pleasant and friendly barista, awesome environ...
82345    Located opposite samy & min bah kut teh (Suban...
Name: Review, Length: 82346, dtype: object

Before we start to clean the text we want to show the before and after data being cleaned. Using loc function, we can see the overview of Review column.

In [8]:
#Display the value in the 'Review' column of the df dataframe at index 4 
df2['Review'].loc[4]

'It’s was a wonderful experience. The 4 course love menu was very nice and tasty. The view of the lake was very beautiful. We were served by Mr. Jeet who was very friendly and he took some wonderful pictures of us. He explained clearly about the menu and how the food was cooked. It’s a very healthy meal. We loved the 600m walk around the lake. The scenery was very beautiful. Overall we really like the place. It was a perfect Valentine Dinner. Thanks and will come again.Show less'

In [9]:
#Display the value in the 'Review' column of the df dataframe at index 82345
df2['Review'].loc[82345]

'Located opposite samy & min bah kut teh (Subang) outlet. We had:-- Gang Guong Noodles @ RM8-Wanton Soup with lohlak base @ RM 6- Loh Mee @ RM 8- Long Yan @ RM 10And Buddha fruit drinks hot @ RM 2.20It’s nice dining in air conditioning knowing the weather in Malaysia are really hot. Cash payment only. Coming at 7.20pm, restaurant are full house. Waiting for our food are roughly 25minutes after ordering at 7.30pm. The gang guong noodles are kampungs noodles served with fried lohbak, a few slices instead of roasted pork. Noodles comes with side soup with 3fish ball. Taste wise are very normal dried noodles with dark soya sauce and shallot oil. The wanton soup comes with 10 very little filling wanton served with loh mee soup + Assam laksa soup are named after lohlak. It’s light soup with a hint of sour Assam laksa soup. They served with a few strips of brown squid, in the soup. Well I guess Sitiawan people like little filling wantanFood are generally good, no msg or salty at all. Suitable for young kids and older people. My favorite dish are the Long yan. The noodles are chewy, gooey and smooth. As the noodles are made of tapioca powder and egg. Loh mee are nice too as the soup are filled with a lot brown squid, bamboo shoots and it goes well with some homemade garlic vinegarWill return to try their red wine chicken soup available only on Friday, Saturday and Sunday. The long yan noodles are really good and would like to have it againShow less'

**Noise of the data**

We want to remove the noise of the data to make the data looks more organize and free from useless characters.
These are the general steps for cleaning text in customer reviews:

1. Convert all text to lowercase
2. Remove punctuation
3. Remove numbers
4. Remove special characters
5. Remove repetitive characters

With neattext libraries it helps us remove characters we do not want as it does not bring meaning to the sentence.

In [10]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
# convert all text to lowercase and assign to new column
df2['Clean_Review'] = df2['Review'].str.lower()

In [12]:
#Display the value in the 'Clean_Review' column 
df2['Clean_Review']

0        dinner here at cuisines restaurant was good. t...
1        like the environment so much, we stay in block...
2        had such a great candlelight 4 course meal in ...
3        totally disappointed with the buffet spread wh...
4        it’s was a wonderful experience. the 4 course ...
                               ...
82341    have not been in taipan neighbourhood for some...
82342    really like the coffee here the cold dog chang...
82343    must absolutely try the doi chang coffee uniqu...
82344    pleasant and friendly barista, awesome environ...
82345    located opposite samy & min bah kut teh (suban...
Name: Clean_Review, Length: 82346, dtype: object

In [13]:
# remove punctuation
df2['Clean_Review'] = df2['Clean_Review'].apply(nfx.remove_punctuations)

In [14]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 4 
df2['Clean_Review'].loc[4]

'it’s was a wonderful experience the 4 course love menu was very nice and tasty the view of the lake was very beautiful we were served by mr jeet who was very friendly and he took some wonderful pictures of us he explained clearly about the menu and how the food was cooked it’s a very healthy meal we loved the 600m walk around the lake the scenery was very beautiful overall we really like the place it was a perfect valentine dinner thanks and will come againshow less'

In [15]:
# remove numbers
df2['Clean_Review'] = df2['Clean_Review'].apply(nfx.remove_numbers)

In [16]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 4 
df2['Clean_Review'].loc[4]

'it’s was a wonderful experience the  course love menu was very nice and tasty the view of the lake was very beautiful we were served by mr jeet who was very friendly and he took some wonderful pictures of us he explained clearly about the menu and how the food was cooked it’s a very healthy meal we loved the m walk around the lake the scenery was very beautiful overall we really like the place it was a perfect valentine dinner thanks and will come againshow less'

In [17]:
# remove special characters
df2['Clean_Review'] = df2['Clean_Review'].apply(nfx.remove_special_characters)

In [18]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 4 
df2['Clean_Review'].loc[4]

'its was a wonderful experience the  course love menu was very nice and tasty the view of the lake was very beautiful we were served by mr jeet who was very friendly and he took some wonderful pictures of us he explained clearly about the menu and how the food was cooked its a very healthy meal we loved the m walk around the lake the scenery was very beautiful overall we really like the place it was a perfect valentine dinner thanks and will come againshow less'

In [19]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 4 
df2['Clean_Review'].loc[5433]

'hi morning nazrul tanankyou so much for your superbb best services last night  is very satisfied with husband even happy takde not directly tq so much again there is a sustenance confirm repeat againfrom the st son book package that was offers until it was finished dinner'

#### Detecting and removing repetitive characters from words

Removing repetitive characters from words in the 'Clean_Review' column can be beneficial for several reasons:

Improve readability: Excessive repetition of characters within words can make the text difficult to read. Removing the repetitive characters enhances the readability and comprehension of the text.

Normalize the text: By removing the extra repetitive characters, you can normalize the text and bring it closer to its standard form. This normalization can be helpful for subsequent text processing tasks, such as sentiment analysis or topic modeling.

Reduce noise: Repetitive characters within words can introduce noise in the text data. Removing the repetitive characters helps in reducing this noise, allowing for more accurate analysis or modeling.

Consistent representation: Removing the extra repetitive characters ensures a more consistent representation of words across the 'Clean_Review' column. This consistency can be beneficial when comparing or analyzing the text data.

In [20]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 66666 to check repepetive characters in words
df2['Clean_Review'].loc[66666]

'the food is really delicious at dragoni but the service at this branch is not that good as the waiter and waitress are a bit blur and we were expecting them to be very friendly but disappointingly they arent anyway the food is good here especially the xiao long bao yummyshow less'

The output shows "looooove" have repetitive characters which we want to remove from Clean_Review. The command line below display all the text in Clean_Review that contains repetitive characters in their words.

In [21]:
import re

# Function to check if a word contains repetitive characters
def has_repetitive_chars(word):
    pattern = re.compile(r"(.)\1{2,}")  # Matches 3 or more repetitive characters
    return bool(pattern.search(word))

# Filter the DataFrame to include only rows with words containing repetitive characters
filtered_df = df2[df2['Clean_Review'].apply(has_repetitive_chars)]

# Display the "Clean_Review" column of the filtered DataFrame
print(filtered_df['Clean_Review'])

44       come here on a wednesday evening for surprise ...
191      this is my nd visit to the haven and also cuis...
219      the havens complimentary breakfast spread is a...
243      we went for a late dinner on a weeknight aroun...
289      good food and efficient staff would recommend ...
                               ...
82065    verde has aways been our local favorite it has...
82067    i gotta admit this place probably serves the b...
82069    their food is really goooooddd prices are cons...
82187    i was initially very taken with this place lov...
82234    its a heaven place for teddy bears lover the s...
Name: Clean_Review, Length: 2738, dtype: object

In [22]:
import re

# Function to remove repetitive characters from words
def remove_repetitive_chars(text):
    pattern = re.compile(r"(.)\1{2,}")  # Matches 3 or more repetitive characters
    return pattern.sub(r"\1", text)

# Apply the function to the 'Clean_Review' column
df2['Clean_Review'] = df2['Clean_Review'].apply(remove_repetitive_chars)

# Print the updated 'Clean_Review' column
print(df2['Clean_Review'])

0        dinner here at cuisines restaurant was good th...
1        like the environment so much we stay in block ...
2        had such a great candlelight  course meal in t...
3        totally disappointed with the buffet spread wh...
4        its was a wonderful experience the  course lov...
                               ...
82341    have not been in taipan neighbourhood for some...
82342    really like the coffee here the cold dog chang...
82343    must absolutely try the doi chang coffee uniqu...
82344    pleasant and friendly barista awesome environm...
82345    located opposite samy  min bah kut teh subang ...
Name: Clean_Review, Length: 82346, dtype: object

In [23]:
import re

# Function to check if a word contains repetitive characters
def has_repetitive_chars(word):
    pattern = re.compile(r"(.)\1{2,}")  # Matches 3 or more repetitive characters
    return bool(pattern.search(word))

# Filter the DataFrame to include only rows with words containing repetitive characters
filtered_df = df2[df2['Clean_Review'].apply(has_repetitive_chars)]

# Display the "Clean_Review" column of the filtered DataFrame
print(filtered_df['Clean_Review'])

Series([], Name: Clean_Review, dtype: object)

Now that we remove all the noise of the data, we need to display the Clean_Review to see if we missed anything.

In [24]:
df2

,Author,Title,Review,Rating,Dates,Restaurant,Location,Day,Month,Year,Clean_Review
0,"AgentcikayKuala Lumpur, Malaysia",Fantastic International Cuisine at Cuisines,Dinner here at Cuisines Restaurant was good. T...,5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022,dinner here at cuisines restaurant was good th...
1,Merlinong2979,Heng Dai Cuti Cuti Ipoh,"Like the environment so much, we stay in block...",5.0,2022-02-27,Cuisines Restaurant,Ipoh,27,2,2022,like the environment so much we stay in block ...
2,Hwathy09,Great service.Wonderful candlelight dinner meal.,Had such a great candlelight 4 course meal in ...,4.0,2022-02-25,Cuisines Restaurant,Ipoh,25,2,2022,had such a great candlelight course meal in t...
3,EskandarShah,Saturday buffet bbq grill,Totally disappointed with the buffet spread wh...,2.0,2022-02-19,Cuisines Restaurant,Ipoh,19,2,2022,totally disappointed with the buffet spread wh...
4,dumbaacs88,Perfect Candle Light Dinner,It’s was a wonderful experience. The 4 course ...,5.0,2022-02-15,Cuisines Restaurant,Ipoh,15,2,2022,its was a wonderful experience the course lov...
...,...,...,...,...,...,...,...,...,...,...,...
82341,Wolv3rin3,Quietly Tucked Away Cafe,Have not been in Taipan neighbourhood for some...,4.0,2019-08-08,Doi Chaang Caffe,Shah Alam,8,8,2019,have not been in taipan neighbourhood for some...
82342,leelakrist,good coffee served here,really like the coffee here the cold dog chang...,5.0,2019-07-19,Doi Chaang Caffe,Shah Alam,19,7,2019,really like the coffee here the cold dog chang...
82343,nathanganga8,Good Coffee,Must absolutely try the doi chang coffee uniqu...,5.0,2019-01-07,Doi Chaang Caffe,Shah Alam,7,1,2019,must absolutely try the doi chang coffee uniqu...
82344,felixm916,Homy cafe,"Pleasant and friendly barista, awesome environ...",4.0,2018-06-20,Doi Chaang Caffe,Shah Alam,20,6,2018,pleasant and friendly barista awesome environm...
82345,"stefaniecstPetaling Jaya, Malaysia",Homemade sitiawan food,Located opposite samy & min bah kut teh (Suban...,4.0,2019-05-05,ah muk Noodle,Shah Alam,5,5,2019,located opposite samy min bah kut teh subang ...

For easy comparison, we put the original review, Review column and the review we just cleaned, Clean_Review side by side to see the differences.

In [25]:
df2[['Review','Clean_Review']]

,Review,Clean_Review
0,Dinner here at Cuisines Restaurant was good. T...,dinner here at cuisines restaurant was good th...
1,"Like the environment so much, we stay in block...",like the environment so much we stay in block ...
2,Had such a great candlelight 4 course meal in ...,had such a great candlelight course meal in t...
3,Totally disappointed with the buffet spread wh...,totally disappointed with the buffet spread wh...
4,It’s was a wonderful experience. The 4 course ...,its was a wonderful experience the course lov...
...,...,...
82341,Have not been in Taipan neighbourhood for some...,have not been in taipan neighbourhood for some...
82342,really like the coffee here the cold dog chang...,really like the coffee here the cold dog chang...
82343,Must absolutely try the doi chang coffee uniqu...,must absolutely try the doi chang coffee uniqu...
82344,"Pleasant and friendly barista, awesome environ...",pleasant and friendly barista awesome environm...
82345,Located opposite samy & min bah kut teh (Suban...,located opposite samy min bah kut teh subang ...

In [26]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 44 to see the updated reviews
df2['Clean_Review'].loc[44]

'come here on a wednesday evening for surprise dinner we tried their pasta and salad  and they were really great awesome service by mr jeet would definitely consider coming back '

#### Remove stopwords

In [27]:
##Remove stopwords
df2['Clean_Review'] = df2['Clean_Review'].apply(nfx.remove_stopwords)

In [28]:
#Display the value in the 'Clean_Review' column of the df2 dataframe at index 44 to see the updated reviews
df2['Clean_Review'].loc[44]

'come wednesday evening surprise dinner tried pasta salad great awesome service mr jeet definitely consider coming'

We successful remove all the noises in the text.

df2.to_csv (r'C:\\Users\\User\\PartTwo_Review.csv', index = False, header=True)

df2.to_excel(r'C:\Users\User\TripAdvisor_Review.xlsx', index=False, header=True)